{% extends "login_base.html" %}  

{% block container %}
{{ super() }}

{% if user_max_rank == 0 %}
    <div class="auth_register">
        <h1 class="title auth_register__title" id="signupForm">Создать аккаунт</h1>
        <form class="flex_column auth_register__form" action="/register" method="post" name="register_user_form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
            <ul class="auth-register__list">
                <li class="wrapper auth-register__item">
                    <label class="label auth-register__label" for="email">Email:</label>
                    <input class="input auth-register__input" type="email" id="email" name="email" required type="email" autocomplete="email">
                </li>
                <li class="wrapper auth-register__item">
                    <label class="label auth-register__label" for="password">Password:</label>
                    <input class="input auth-register__input" type="password" id="password" name="password" autocomplete="new-password">
                </li>
                <li class="wrapper auth-register__item">
                    <label class="label auth-register__label" for="password_confirm">Password:</label>
                    <input class="input auth-register__input" type="password" id="password_confirm" name="password_confirm" autocomplete="new-password">
                </li>
            </ul>
        
            <button id="signupSubmit" class="btn btn_report auth-register__btn" type="submit" value="Register">Создать</button>
        </form>
    </div>
{% else %}
    <div class="auth-register">
        <p>Программа сейчас находится в режиме тестирования и подключение новых пользователей невозможно</p>
    </div>
{% endif %}


{% if register_user_form.errors %}
    <ul class="auth-register__errors-list">
    {% for field, errors in register_user_form.errors.items() %}
        {% for error in errors %}
            <li class="auth-register__error">
                <p>В поле {{ field }}</p> 
                <p>ошибка:  {{ error }}</p>
            </li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}

<p>Уже есть аккаунт? 
    <a class="auth-register__link" href="{{ url_for('security.login') }}">Войти</a><br>
    <a class="auth-register__link" href="{{ url_for('index') }}">На главную</a>
</p>
{% endblock container %}

