flask
flask-login
flask-migrate
flask-sqlalchemy
werkzeug
jinja2
itsdangerous
blinker
psycopg2-binary
SQLAlchemy
gunicorn
python-dotenv
requests
httpx
openpyxl
python-docx
openai
unidecode
passlib
flask-security-too
flask_session
rapidfuzz
spacy
tiktoken
bleach
celery
redis