<!-- partials/paragraph_content.html -->
 
<li class="flex_column report__paragraph" data-paragraph-id="{{ paragraph.id }}">
    <div class="flex">
        <p contenteditable="false" data-paragraph-id="{{ paragraph.id }}"
           class="paragraph-java-finder {% if paragraph.paragraph_visible %}bold-paragraph{% else %}indented-paragraph{% endif %}">
            {{ paragraph.paragraph }}
        </p>
        {% if grouped_sentences %}
            <button class="icon-btn icon-btn--expand" type="button"
                    style="background: url('{{ url_for('static', filename='pic/expand_button.svg') }}') no-repeat center center;"
                    title="Expand">
            </button>
        {% endif %}
        <div class="flex edit-group" style="display: none;">
            <button class="icon-btn icon-btn--edit-paragraph" type="button"
                    style="background: url('{{ url_for('static', filename='pic/edit_button.svg') }}') no-repeat center center;"
                    title="Edit Paragraph">
            </button>
            <button class="icon-btn icon-btn--delete-paragraph" type="button"
                    style="background: url('{{ url_for('static', filename='pic/delete_sentence_button.svg') }}') no-repeat center center;"
                    title="Delete Paragraph">
            </button>
        </div>
    </div>

    <ul class="sentence-list" style="display: none;">
        <li class="">
            {% if grouped_sentences %}
                {% for index, sentences in grouped_sentences.items() %}
                    {% if sentences|length == 1 %}
                        {% if sentences[0].index != 0 %}
                            <div class="flex edit-container" sentence-index="{{ sentences[0].index }}">
                                <p class="report__sentence" data-sentence-id="{{ sentences[0].id }}">{{ sentences[0].sentence }}</p>
                                <!-- button group -->
                                <div class="flex edit-group" style="display: none;">
                                    <button class="icon-btn icon-btn--edit" type="button"
                                            style="background: url('{{ url_for('static', filename='pic/edit_button.svg') }}') no-repeat center center;"
                                            title="Edit">
                                    </button>
                                    <button class="icon-btn icon-btn--add_s_to_p" type="button"
                                            style="background: url('{{ url_for('static', filename='pic/add_s_to_p_button.svg') }}') no-repeat center center;"
                                            title="Add one more sentence below">
                                    </button>
                                    <button class="icon-btn icon-btn--add_s_to_s" type="button"
                                            style="background: url('{{ url_for('static', filename='pic/add_s_to_s_button.svg') }}') no-repeat center center;"
                                            title="Add sentence in sentences list">
                                    </button>
                                    <button class="icon-btn icon-btn--delete_sentence" type="button"
                                            style="background: url('{{ url_for('static', filename='pic/delete_sentence_button.svg') }}') no-repeat center center;"
                                            title="delete the sentence">
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if sentences[0].index != 0 %}
                            <div class="flex edit-container">
                                <select class="report__select sentences_select" sentence-index="{{ sentences[0].index }}" data-index="left-side-{{ paragraph.id }}-{{ index }}">
                                    {% for sentence in sentences %}
                                        <option value="{{ sentence.id }}" data-weigh="{{ sentence.weight }}" data-sentence="{{ sentence.sentence }}">
                                            {{ sentence.sentence }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <!-- button group -->
                                <div class="flex edit-group" style="display: none;">
                                    <button class="icon-btn icon-btn--edit" type="button"
                                            style="background: url('{{ url_for('static', filename='pic/edit_button.svg') }}') no-repeat center center;"
                                            title="Edit">
                                    </button>
                                    <button class="icon-btn icon-btn--add_s_to_p" type="button"
                                            style="background: url('{{ url_for('static', filename='pic/add_s_to_p_button.svg') }}') no-repeat center center;"
                                            title="Add one more sentence below">
                                    </button>
                                    <button class="icon-btn icon-btn--add_s_to_s" type="button"
                                            style="background: url('{{ url_for('static', filename='pic/add_s_to_s_button.svg') }}') no-repeat center center;"
                                            title="Add sentence in sentences list">
                                    </button>
                                    <button class="icon-btn icon-btn--delete_sentence" type="button"
                                            style="background: url('{{ url_for('static', filename='pic/delete_sentence_button.svg') }}') no-repeat center center;"
                                            title="delete the sentence">
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </li>
    </ul>
</li>
