/* static/style.css */

/* variables */
:root {
    --main-bg-color: rgb(15, 30, 60);
    --main-text-color: #000000;
    --main-btn-color: #5db4ae;
    --main-border-color: #1f1f73;
  }

/* default settings reset */

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-style: inherit;
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
  }
  
  body {
    min-width: 320px;
    width: 100%;
    background-color: azure;
  }

  /* end of default settings reset */

  


.btn {
    max-height: 25px;
    color: #fff;
    background-color: var(--main-btn-color);
    border-radius: 6px;
    border-color: #007bff;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    
}


.section {
    display: flex;
    flex-direction: column;
    margin: 0 25px 25px 25px;
}

.container {
    display: flex;
    flex-direction: column;
    width: auto;
}

.container__top {
    font: 16px;
}


.container_row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 45%;
}

.box {
    width: auto;
}

.header {
    display: flex;
    align-items: center;
    margin: 0 25px 0 25px;
    z-index: 1000;
}

.header__flash_massages {
    height: 20px;
    overflow: hidden;
    text-align: center;
    background-color: #f8d7da;
    color: #721c24;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    width: 50px;
    height: 50px;
}

.header__menu {
    display: flex;
    align-content: center;
    width: 100%;
}

.header__menu_item {
    margin: 0 20px 0 0;
}

.report__list {
    display: flex;
    flex-direction: column;
}

.text {
    margin: 0;
    padding: 5px;
    margin-top: 5px;
}

.report_side__list {
    width: 50%;
}

.report_side--right {
    border-radius: 6px;
    background-color: #fff;
}

.sentence-select{
    max-width: 100%;
}

.report_input__item {
    max-height: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
}

.report_input__item--type {
    max-width: 50px;
}

.report_input__item--index {
    width: auto;
    min-width: 5px;
    max-width: 40px;
}

.report_input__item--name {
    min-width: 20%;
    max-width: 50%;
}

.report__btn {
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 50px;
    border-style: solid;
    border-color: var(--main-border-color);
    border-width: 1px;
}

.report__select {
    width: 90%;
    max-height: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border-color: var(--main-border-color);
}

.report__select--type {
    width: auto;

}


.report__sentence {
    max-height: 25px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.report__sentence.editing {
    color: darkred;
}


.report_label__list {
    margin-bottom: 10px;
}

.report_label__item {
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
}

.report_borderline {
    min-height: 2px;
    width: 50%;
    margin-bottom: 10px;
    background-color: var(--main-bg-color);
}

.report__paragraph {
    margin-bottom: 5px;
}

.report__paragraph--visible {
    margin-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
}

.report__paragraph--invisible {
    display: none;
    padding-left: 20px;
}

.report__paragraph--title{
    display: block;
}

.report__paragraph--untitle{
    display: inline;
}

.report__paragraph--bold {
    text-transform: uppercase;

}

/* Блок Grid */
/* Создаем сетку для заголовков и строк */
.report_grid {
    display: grid;
    grid-template-columns: 0.3fr 0.8fr 0.8fr 1.5fr 0.3fr 0.3fr; /* Настраиваем ширину каждого столбца */
    gap: 10px;
    align-items: center;
}

.report_header {
    font-weight: bold;
    border-bottom: 2px solid #000; /* Линия для отделения заголовков */
    margin-bottom: 10px;
}

.report_form__item {
    margin-top: 10px;
}

.report_input__item {
    width: 100%;
    padding: 5px;
}

.btn {
    padding: 5px 10px;
    cursor: pointer;
}

/* Выравниваем заголовки и контент */
.report_header li,
.report_form__item li {
    padding: 5px;
}






.icon-btn {
    width: 18px; 
    height: 18px; 
    margin-right: 5px;
    background-size: contain; 
    border: none; 
    cursor: pointer; 
    transition: transform 0.3s ease; 
}

.icon-btn.expanded {
    transform: rotate(180deg); 
}



.title {
    margin: 0;
    color: #333;
}


.temporary_wide {
    width: 500pt;
    max-width: 100%;
}


.sentence-separator {
    border: 0;
    height: 1px;
    width: 50%;
    background-color: #0c0606;
    margin: 10px 0;
}

/* Скрываем стандартный вид select */
.report__select_dynamic {
    display: inline;
    appearance: none; /* Убираем стандартный стиль select */
    -webkit-appearance: none; /* Для Safari */
    -moz-appearance: none; /* Для Firefox */
    background: white; 
    border: none; 
    color: red; 
    font-weight: bold; 
    cursor: pointer;
    padding: 0; 
    margin: 0; 
    text-indent: 0;
}




.footer {
    display: flex;
    align-items: center;
    margin: 0 25px 0 25px;
    z-index: 1000;
}


.red-highlight {
    color: red;
    font-weight: bold;
}