/* static/style.css */

/* variables */
:root {
    --main-text-color: rgb(58, 92, 102);
    --main-btn-color: rgb(58, 92, 102);
    --main-btn-color-hover: rgb(25, 39, 48);
    --main-border-color: rgb(25, 39, 48);
    --main-background-color: rgb(252, 252, 233);
    --main-background-color-light: rgb(251, 251, 247);
    --main-background-color-dark: rgb(202, 202, 191);
    --main-text-block-height: 20px;
    
  }

/* default settings reset */

html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    font-style: inherit;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    width: 100%;
}

/* end of default settings reset */


/* Универсальные стили (utility) */


.flex_column {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    
}

/* Сбрасывает значения по умолчанию с сылки */
.link-reset {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    display: inline-block;
}


/* Общие стили элементов */

.body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color-light);
}


.title {
    margin: 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--main-btn-color);
    color: var(--main-background-color);
    text-align: center;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--main-btn-color-hover);
}

.label {
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: bold;
}

.input {
    height: var(--main-text-block-height);
    border: none;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    background-color: var(--main-background-color-light);
    outline: 1px solid var(--main-background-color-dark);
    border-radius: 5px;
    width: 100%;
}


/* Контейнеры */

.container {
    width: 100%;    
    height: 100%;
    max-width: 1600px;     
    margin-left: auto;    
    margin-right: auto;
    padding: 15px 15px;
    background-color: transparent;
}

.wrapper {
    padding: 5px;   /* Внутренние отступы */
    margin: 0 auto;  /* Центрирование по горизонтали */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    width: 350px;
    height: 350px;
    background-color: rgba(255, 255, 239, 0.9); 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
    padding: 15px; 
}

.box {
    padding: 10px;
}


/* блок авторизации */

.card-auth {
    transform: translateX(-27vw);
    color: var(--main-text-color);
}

.wrapper--auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: inherit;
}

.title-auth {
    margin: 0;
    padding: 0;
    color: inherit;
}

.label--auth {
    width: 70px;
    margin-right: 10px;
}

.btn--auth {
    min-width: 70px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.link--auth {
    font-weight: bold;
    text-decoration: underline;
    margin-left: 10px;
}

.link--auth:hover {
    color: var(--main-btn-color-hover);
}

.main-auth {
    display: flex;
    justify-content: center; 
    align-items: center;  
    background-image: url("/static/pic/radiologists.jpg"); 
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100vw;                
    height: 100vh;             
}



/* Блок header */
.header {
    width: 100%;
    background-color: var(--main-background-color);
}

.container--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-background-color);
}

.header__logo {
    width: auto;
    height: 50px;
}

.header__nav {
    flex-grow: 1;
    margin-left: 20px;
}

.header__menu {
    display: flex;            
}

.header__menu-item {
    margin-right: 15px;         
}

.header__menu-link {
    color: var(--main-btn-color);
    font-weight: 500;            
    transition: color 0.3s;     
}

.header__menu-link:hover {
    color: var(--main-btn-color-hover);
}

.header__paragraph {
    font-size: 14px;           
    color: #343a40;             
    margin-right: 15px;
}

.header__paragraph--version {
    font-size: 12px;           
}



.header__link {
    text-decoration: none;       
    color: #dc3545;           
    font-weight: 600;           
    transition: color 0.3s;      
}

.header__link:hover {
    color: #bd2130;     
}



/* Блок main */
.main {
    margin-bottom: 20px;
} 


.main__title {
    margin-bottom: 20px;          
             
}

.main__heading {
    font-size: 2rem;            
    color: var(--main-text-color);              
    margin: 0;
    line-height: 1.2;
}



/* Блок footer */

.footer {
    width: 100%;
    background-color: var(--main-background-color);
}



/* Остальные стили */





.section {
    display: flex;
    flex-direction: column;
    margin: 0 25px 25px 0;
}




.report__list {
    display: flex;
    flex-direction: column;
}

.text {
    margin: 0;
    padding: 5px;
    margin-top: 5px;
}

.report-container {
    width: 75%;
}

.right-side-container {
    width: 24%;
}


.sentence-select{
    max-width: 100%;
}

.report_input__item {
    max-height: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
}

.report_input__item--type {
    max-width: 50px;
}

.report_input__item--index {
    width: auto;
    min-width: 5px;
    max-width: 40px;
}

.report_input__item--name {
    min-width: 20%;
    max-width: 50%;
}

.report__btn {
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    max-width: 140px;
    border-style: solid;
    border-color: var(--main-border-color);
    border-width: 1px;
}

.report__select {
    width: 90%;
    max-height: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border-color: var(--main-border-color);
}

.report__select--type {
    width: auto;

}


.report__sentence {
    max-height: 25px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.report__sentence.editing {
    color: darkred;
}


.report_label__list {
    margin-bottom: 10px;
}

.report_label__item {
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
}

.report_borderline {
    min-height: 2px;
    width: 50%;
    margin-bottom: 10px;
    background-color: var(--main-bg-color);
}

.report__paragraph {
    margin-bottom: 5px;
}

.report__paragraph--visible {
    margin-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
}

.report__paragraph--invisible {
    display: none;
    padding-left: 20px;
}

.report__paragraph--title{
    display: block;
}

.report__paragraph--untitle{
    display: inline;
}

.report__paragraph--bold {
    text-transform: uppercase;

}

/* Блок Grid */
/* Создаем сетку для заголовков и строк */
.report_grid {
    display: grid;
    grid-template-columns: 0.3fr 0.8fr 0.8fr 1.5fr 0.3fr 0.3fr; /* Настраиваем ширину каждого столбца */
    gap: 10px;
    align-items: center;
}

.report_header {
    font-weight: bold;
    border-bottom: 2px solid #000; /* Линия для отделения заголовков */
    margin-bottom: 10px;
}

.report_form__item {
    margin-top: 10px;
}

.report_input__item {
    width: 100%;
    padding: 5px;
}

.btn {
    padding: 5px 5px;
    cursor: pointer;
}

/* Выравниваем заголовки и контент */
.report_header li,
.report_form__item li {
    padding: 5px;
}


/* Блок PopUp */

/* Основной стиль для всплывающего окна */
.popup {
    position: absolute;  /* Позволяет динамически задавать координаты через JS */
    background-color: #fff;  /* Белый фон */
    border: 1px solid #ccc;  /* Легкая рамка */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  /* Тень для красивого эффекта */
    padding: 10px;  /* Отступы внутри окна */
    z-index: 1000;  
    display: none;  /* Изначально скрыто */
    max-width: 900px; /* Ограничение на ширину */
    overflow-y: auto; /* Скроллинг, если список предложений слишком длинный */
}

/* Стили для списка внутри попапа */
.popup ul {
    list-style-type: none;  /* Убираем стандартные маркеры списка */
    margin: 0;
    padding: 0;
}

.popup ul li {
    padding: 5px 10px;
    cursor: pointer;  /* Указываем, что элементы списка можно кликать */
    border-bottom: 1px solid #eee;  /* Разделяем предложения линией */
}

.popup ul li:hover {
    background-color: #f0f0f0;  /* Подсветка при наведении */
}


/* Блок кружочка */

/* Основной стиль для кружка "+" */
.plus-circle {
    position: absolute;  
    background-color: var(--main-btn-color);  
    border-radius: 50%;  
    width: 20px;  
    height: 20px;  
    display: none;  
    align-items: center;  
    justify-content: center;
    z-index: 1000;  
    cursor: pointer;  
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  
    transition: transform 0.2s ease;  
}

/* Стили для внутреннего текста (знак "+") */
.plus-circle::before {
    content: "+";  /* Текст внутри кружка */
    font-size: 24px;
    color: white;  /* Белый цвет знака "+" */
    display: block;
}

/* Эффект при наведении на кружок */
.plus-circle:hover {
    transform: scale(1.1);  /* Легкое увеличение кружка при наведении */
    cursor: pointer;  /* Меняем курсор на "указатель", как при наведении на ссылку */
}


.sentence {
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);   */
    border-radius: 4px; 
    padding: 2px 4px; 
}

/* Блок стиля предложений у которых есть всплывающие предложения */
.highlighted-sentence {
    background-color: #daf7f7;  
    
}




.icon-btn {
    width: 18px; 
    height: 18px; 
    margin-right: 5px;
    background-size: contain; 
    border: none; 
    cursor: pointer; 
    transition: transform 0.3s ease; 
}

.icon-btn.expanded {
    transform: rotate(180deg); 
}






.temporary_wide {
    width: 500pt;
    max-width: 100%;
}


.sentence-separator {
    border: 0;
    height: 1px;
    width: 50%;
    background-color: #0c0606;
    margin: 10px 0;
}

/* Скрываем стандартный вид select */
.report__select_dynamic {
    display: inline;
    appearance: none; /* Убираем стандартный стиль select */
    -webkit-appearance: none; /* Для Safari */
    -moz-appearance: none; /* Для Firefox */
    background:transparent; 
    border: none; 
    color: rgb(191, 50, 50); 
    font-weight: bold; 
    cursor: pointer;
    padding: 0; 
    margin: 0; 
    text-indent: 0;
}




.red-highlight {
    color: red;
    font-weight: bold;
}

.push-down {
    margin-bottom: 50px;
}

.edit_delete_buttons_group {
    display: flex;
    margin: 0 25px 0 25px;
}


/* Стили для блока данных в admin-data */
.admin-data__table {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-data__table h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.admin-data__table-element {
    width: 100%;
    border-collapse: collapse;
}

.admin-data__table-element th, .admin-data__table-element td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.admin-data__table-element th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.admin-data__action-cell {
    min-width: 150px;
    text-align: center;
}
