/* static/style.css */

/* variables */
:root {
    --main-text-color: rgb(58, 92, 102);
    --main-btn-color: rgb(58, 92, 102);
    --main-btn-color-hover: rgb(25, 39, 48);
    --main-border-color: rgb(25, 39, 48);
    --main-background-color: rgb(252, 252, 233);
    --main-background-color-light: rgb(251, 251, 247);
    --main-background-color-dark: rgb(202, 202, 191);
    --main-text-block-height: 20px;
    
  }

/* default settings reset */

html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    font-style: inherit;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    width: 100%;
}

/* end of default settings reset */


/* Универсальные стили (utility) */


.flex_column {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    
}

/* Сбрасывает значения по умолчанию с сылки */
.link-reset {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    display: inline-block;
}


/* Общие стили элементов */

.body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color-light);
}


.title {
    margin: 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--main-btn-color);
    color: var(--main-background-color);
    text-align: center;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--main-btn-color-hover);
}

.label {
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: bold;
}

.input {
    height: var(--main-text-block-height);
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    background-color: var(--main-background-color-light);
    outline: 1px solid var(--main-background-color-dark);
    border-radius: 5px;
    width: 100%;
}

.select {
    height: var(--main-text-block-height);
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    background-color: var(--main-background-color-light);
    outline: 1px solid var(--main-background-color-dark);
    border-radius: 5px;
    width: 100%;
    appearance: none; /* Убирает стандартный стиль браузера */
    cursor: pointer;
}





/* Контейнеры */

.container {
    width: 100%;    
    height: 100%;
    max-width: 1600px;     
    margin-left: auto;    
    margin-right: auto;
    padding: 15px 15px;
    background-color: transparent;
}

.wrapper {
    padding: 5px;   /* Внутренние отступы */
    margin: 0 auto;  /* Центрирование по горизонтали */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    width: 350px;
    height: 350px;
    background-color: rgba(255, 255, 239, 0.9); 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
    padding: 15px; 
}






.box {
    padding: 10px;
}


/* блок авторизации */

.card-auth {
    transform: translateX(-27vw);
    color: var(--main-text-color);
}

.auth-register__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: inherit;
}

.title-auth {
    margin: 0;
    padding: 0;
    color: inherit;
}

.auth-register__label {
    width: 70px;
    margin-right: 10px;
}

.btn--auth {
    min-width: 70px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.link--auth {
    font-weight: bold;
    text-decoration: underline;
    margin-left: 10px;
}

.link--auth:hover {
    color: var(--main-btn-color-hover);
}

.main-auth {
    display: flex;
    justify-content: center; 
    align-items: center;  
    background-image: url("/static/pic/radiologists.jpg"); 
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100vw;                
    height: 100vh;             
}



/* Блок header */
.header {
    width: 100%;
    background-color: var(--main-background-color);
}

.container--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-background-color);
}

.header__logo {
    width: auto;
    height: 50px;
}

.header__nav {
    flex-grow: 1;
    margin-left: 20px;
}

.header__menu {
    display: flex;            
}

.header__menu-item {
    margin-right: 15px;         
}

.header__menu-link {
    color: var(--main-btn-color);
    font-weight: 500;            
    transition: color 0.3s;     
}

.header__menu-link:hover {
    color: var(--main-btn-color-hover);
}

.header__paragraph {
    font-size: 14px;           
    color: #343a40;             
    margin-right: 15px;
}

.header__paragraph--version {
    font-size: 12px;           
}



.header__link {
    text-decoration: none;       
    color: #dc3545;           
    font-weight: 600;           
    transition: color 0.3s;      
}

.header__link:hover {
    color: #bd2130;     
}



/* Блок main */
.main {
    margin-bottom: 20px;
} 


.main__title {
    margin-bottom: 20px;          
             
}

.main__heading {
    font-size: 2rem;            
    color: var(--main-text-color);              
    margin: 0;
    line-height: 1.2;
}



/* Блок footer */

.footer {
    width: 100%;
    background-color: var(--main-background-color);
}



/* Остальные стили */





.section {
    display: flex;
    flex-direction: column;
    margin: 0 25px 25px 0;
}




.report__list {
    display: flex;
    flex-direction: column;
}

.text {
    margin: 0;
    padding: 5px;
    margin-top: 5px;
}

.report-container {
    width: 75%;
}

.right-side-container {
    width: 24%;
    position: sticky;
    top: 10px; 
    align-self: flex-start; 
    height: fit-content; 
}


.sentence-select{
    max-width: 100%;
}



.edit-paragraph__input{
    font-size: 14px; /* сдублировал с .input чтобы не оставлять класс пустым */
}



.report__btn {
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    max-width: 140px;
    border-style: solid;
    border-color: var(--main-border-color);
    border-width: 1px;
}

.report__select {
    width: 90%;
    max-height: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border-color: var(--main-border-color);
}

.report__select--type {
    width: auto;

}


.report__sentence {
    max-height: 25px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.report__sentence.editing {
    color: darkred;
}


.report_label__list {
    margin-bottom: 10px;
}

.report_label__item {
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
}

.report_borderline {
    min-height: 2px;
    width: 50%;
    margin-bottom: 10px;
    background-color: var(--main-bg-color);
}

.paragraph__text--visible {
    display: block;
    padding-left: 20px;
}

.paragraph__text--invisible {
    display: none;
    padding-left: 20px;
}

.paragraph__text--title{
    display: block;
}

.paragraph__text--untitle{
    display: inline;
}

.paragraph__text--bold {
    text-transform: uppercase;

}

.paragraph__item--inactive {
    display: none;
}

.paragraph__item {
    margin-bottom: 7px;
}

.paragraph__text {
   font-weight: bold;
}


/* Стиль для правой часть working_with_report */

.report-controlpanel__inactive-paragraphs-list {
    list-style-type: square;
}

.report-controlpanel__inactive-paragraphs-item {
    margin-bottom: 5px;
    cursor: pointer;
}





.edit-paragraph__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Блок для edit-paragraph */
.edit-paragraph__title--invisible {
    color: #8381814f;
}


.drag-handle {
    cursor: grab;
    padding: 8px;
    font-size: 18px;
    margin-right: 10px;
    user-select: none;
    align-self: center;
}

.sortable-ghost {
    opacity: 0.5;
    background: #f0f0f0;
}






.report_form__item {
    margin-top: 10px;
}

.report_input__item {
    width: 100%;
    padding: 5px;
}

.btn {
    max-width: 100px;
    max-height: 50px;
    padding: 5px 5px;
    cursor: pointer;
}




/* Блок PopUp */

/* Основной стиль для всплывающего окна working_with_report */
.popup {
    position: absolute;  /* Позволяет динамически задавать координаты через JS */
    background-color: #fff;  /* Белый фон */
    border: 1px solid #ccc;  /* Легкая рамка */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  /* Тень для красивого эффекта */
    padding: 10px;  /* Отступы внутри окна */
    z-index: 1000;  
    display: none;  /* Изначально скрыто */
    max-width: 900px; /* Ограничение на ширину */
    overflow-y: auto; /* Скроллинг, если список предложений слишком длинный */
}

/* Стили для списка внутри попапа */
.popup ul {
    list-style-type: none;  /* Убираем стандартные маркеры списка */
    margin: 0;
    padding: 0;
}

.popup ul li {
    padding: 5px 10px;
    cursor: pointer;  /* Указываем, что элементы списка можно кликать */
    border-bottom: 1px solid #eee;  /* Разделяем предложения линией */
}

.popup ul li:hover {
    background-color: #f0f0f0;  /* Подсветка при наведении */
}


/* Блок кружочка */

/* Основной стиль для кружка "+" */
.plus-circle {
    position: absolute;  
    background-color: var(--main-btn-color);  
    border-radius: 50%;  
    width: 20px;  
    height: 20px;  
    display: none;  
    align-items: center;  
    justify-content: center;
    z-index: 1000;  
    cursor: pointer;  
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  
    transition: transform 0.2s ease;  
}

/* Стили для внутреннего текста (знак "+") */
.plus-circle::before {
    content: "+";  /* Текст внутри кружка */
    font-size: 24px;
    color: white;  /* Белый цвет знака "+" */
    display: block;
}

/* Эффект при наведении на кружок */
.plus-circle:hover {
    transform: scale(1.1);  /* Легкое увеличение кружка при наведении */
    cursor: pointer;  /* Меняем курсор на "указатель", как при наведении на ссылку */
}


.sentence {
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);   */
    border-radius: 4px; 
    padding: 2px 4px; 
}

/* Блок стиля предложений у которых есть всплывающие предложения */
.has-linked-sentences-highlighted-sentence {
    background-color: #d9fafa;  
    
}

/* Блок стиля предложений которые были изменены */
.was-changed-highlighted-sentence {
    background-color: #72e8e8;      
}




.icon-btn {
    width: 18px; 
    height: 18px; 
    margin-right: 5px;
    background-size: contain; 
    border: none; 
    cursor: pointer; 
    transition: transform 0.3s ease; 
}

.icon-btn.expanded {
    transform: rotate(180deg); 
}






.temporary_wide {
    width: 500pt;
    max-width: 100%;
}


.sentence-separator {
    border: 0;
    height: 2px;
    width: 70%;
    background-color: #0c0606;
    margin: 10px 0;
}

/* Скрываем стандартный вид select */
.report__select_dynamic {
    display: inline;
    appearance: none; /* Убираем стандартный стиль select */
    -webkit-appearance: none; /* Для Safari */
    -moz-appearance: none; /* Для Firefox */
    background:transparent; 
    border: none; 
    color: rgb(191, 50, 50); 
    font-weight: bold; 
    cursor: pointer;
    padding: 0; 
    margin: 0; 
    text-indent: 0;
}




.red-highlight {
    color: red;
    font-weight: bold;
}

.push-down {
    margin-bottom: 50px;
}

.edit_delete_buttons_group {
    display: flex;
    margin: 0 25px 0 25px;
}


/* Стили для блока данных в admin-data */

.admin-filters__field--columns {
    margin-left: 20px;
}

.admin-data__table {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-data__table h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.admin-data__table-element {
    width: 100%;
    border-collapse: collapse;
}

.admin-data__table-element th, .admin-data__table-element td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.admin-data__table-element th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.admin-data__action-cell {
    min-width: 150px;
    text-align: center;
}


.edit-paragraph__form--sentence {
    min-width: 100%;
}


/* Стили для попапа в edit_report */
.paragraph-popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 14px;
    min-width: 200px;
    white-space: nowrap;
}



.paragraph-popup-btn--save {
    background-color: #007bff;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
}


/* Стиль для предложения в edit_sentence */
.edit-sentence__text {
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


/* стиль для карточки предложения в edit_report */

.wrapper__card {
    display: flex;
    align-items: right;
    background: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 4px;
    padding: 10px 16px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    gap: 10px;
    width: 100%;
    min-height: 60px;
}

/* Стили для попапа буфера обмена */

.buffer-popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 2px solid #ccc;
    padding: 20px;
    width: 400px;
    max-height: 70vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 9999;
    border-radius: 8px;
}

.buffer-popup__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buffer-popup__content {
    margin: 15px 0;
    max-height: 300px;
    overflow-y: auto;
}

.buffer-popup__footer {
    display: flex;
    justify-content: space-between;
}

.btn-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}




/* === Ripple Effect === */
/* Стили связанные с редактирование предложений */
.edit-sentence__links-icon--is-linked {
    display: inline-block; /* чтобы размеры были видны */
    width: 16px;
    height: 16px;
    position: relative; /* важно для ripple */
    cursor: pointer;
}

.sentence-popup {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-width: 200px;
    max-width: 300px;
    font-size: 14px;
    border-radius: 5px;
}


.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-effect 0.6s linear;
    background-color: rgba(0, 0, 0, 0.3); /* Цвет круга */
    pointer-events: none; /* Чтобы не мешать клику */
    z-index: 100;
  }
  
  @keyframes ripple-effect {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }

  

/* Это стиль для выделения главного предложения при изменении настроек профиля */
.wrapper__card--sentence-head {
    background-color: var(--main-background-color);
}
.wrapper__card--tail {
    background-color: #cbeff4;
}

.wrapper__card--text {
    background-color: #c3d7b5;
}

.wrapper__card--impression {
    background-color: #7c8a72;
}

.edit-sentence__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.edit-sentence__wrapper--short {
    width: 120px;
}

.edit-sentence__label--text {
    width: 180px;
}
   
.edit-sentence__input--text {
    min-height: 40px;
}

.input--short {
    width: 40px;
}

.input--wide {
    flex-grow: 1;
    width: 100%;
}

/* редактирование параграфа */

.edit-sentence__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

/* flash-massages */

.flash-message {
    font-size: 14px;
}

.flash-message.error { color: red; }

.flash-message.success { color: green; }

.flash-message.info { color: blue; }

.flash-message.warning { color: orange; }

.flash-message-panel {
    width: 100%;
    height: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(213, 213, 242);
}

/* кружок в создании нового протокола */

.existing-fewreports__order-circle {
    display: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-btn-color);
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    margin-left: 10px;
}

/* Стили для настроек профиля */

.settings-block__item--changed {
    background-color: #a8acf5;
}



/* Это стиль для заглушки лоадера */
#global-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.hidden-loader {
    opacity: 0;
    pointer-events: none; /* Чтобы нельзя было кликнуть по скрытому лоадеру */
}

.loader-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


/* Стили для попапа в my_reports*/
.popup-my-reports {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
    background: white;
    padding: 20px;
    width: 70%;
    margin: 10% auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.paragraph-block {
    padding: 10px;
    border-radius: 6px;
    background: #f1f3f5; /* Светлый фон */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень */
    border-left: 4px solid #007bff; /* Цветной левый бордер */
    margin-bottom: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.paragraph-block:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.paragraph-block p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

/* Разные цвета для отчетов разные цвета не работают, нужно разобраться с кодом js позже настрою чтобы разными цветами подсвечивались разные варианты (например одним цветом, когда текст параграфа совпадает)*/
.paragraph-block[data-report="1"] { border-left-color: #28a745; } /* Зеленый */
.paragraph-block[data-report="2"] { border-left-color: #dc3545; } /* Красный */
.paragraph-block[data-report="3"] { border-left-color: #ffc107; } /* Желтый */
.paragraph-block[data-report="4"] { border-left-color: #17a2b8; } /* Голубой */


.paragraph-block.dragging {
    opacity: 0.5;
    border: 2px dashed #007bff;
}

.paragraph-block.linked {
    background-color: rgba(0, 123, 255, 0.2);
    border: 2px solid #007bff;
    position: relative;
}

.link-indicator {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: #007bff;
    color: white;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
}

.link-button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}

.link-button:hover {
    background: #218838;
}

.keyword-highlighted {
    color: rgb(199, 3, 3);
    cursor: pointer;
}

.select-short {
    width: 50px;
}