<!--all_popups.html-->

{% macro buffer_popup() %}
<div id="bufferPopup" class="buffer-popup" style="display: none;">
    <div class="buffer-popup__header">
        <h3>Буфер обмена</h3>
        <button id="closeBufferPopup" class="btn btn-icon buffer-popup__btn--close" title="Закрыть">❌</button>
    </div>
    
    <div id="bufferContent" class="buffer-popup__content">
        <ul class="buffer-popup__list">
            <!-- Сюда будут добавляться элементы -->
             <li>Пусто</li>
        </ul>
        
    </div>

    <div class="buffer-popup__footer">
        <button id="clearBufferButton" class="btn " title="Очистить буфер">🗑️ Очистить</button>
    </div>
</div>
{% endmacro %}



{% macro share_popup() %}
<!-- Попап для шаринга отчета по email -->
<div id="sharePopup" class="share-popup" style="display: none;">
    <div class="share-popup__content">
        <h3>Поделиться протоколом</h3>
        <input type="email" id="shareInput" placeholder="Введите email пользователя" class="share-popup__input">
        <button class="btn share-popup__btn" id="submitShareButton">Отправить</button>
        <p id="shareErrorMessage" class="share-popup__error" style="color: red; display: none;"></p>
        <button class="btn share-popup__btn--close" id="closeSharePopup">Закрыть</button>
    </div>
</div>
{% endmacro %}


{% macro unlink_group_popup() %}
<!-- Попап для управления связью группы предложении -->
<div id="lockPopup" class="sentence-popup lock-popup" 
    style="display: none; position: absolute; z-index: 1000;"
    >
    <p class="popup-str-button" id="unlinkGroupButton">🔗 Разорвать связь</p>
    <p class="popup-str-button" id="allowEditButton">✏️ Разрешить редактирование</p>
</div>
{% endmacro %}


{% macro sentence_popup() %}
    <!-- Попап с информацией о предложении -->
    <div id="sentencePopup" class="sentence-popup" style="display: none;">
        <div class="sentence-popup__info-box">
            <span class="sentence-popup__info-item"><strong>ID:</strong> <span id="popupSentenceId"></span></span>
            <span class="sentence-popup__info-item"><strong>Индекс:</strong> <span id="popupSentenceIndex"></span></span>
            <span class="sentence-popup__info-item"><strong>Комментарий:</strong> <span id="popupSentenceComment"></span></span>
            <span class="sentence-popup__info-item"><strong>Теги:</strong> <span id="popupSentenceTags"></span></span>
        </div>

            <p id="sentencePopupEditButton" class="popup-str-button">Редактировать</p>
            <p id="sentencePopupUnlinkButton" class="popup-str-button">Разорвать связь</p>

        <p id="closeSentencePopupButton" class="popup-str-button">Закрыть</p>
    </div>
{% endmacro%}