<!--editor_checkboxes-->
{% macro editor_checkboxes(user_settings, report_level=False) %}
<div class="flex editor-checkboxes">
    <label class="label" for="grammaAiChecker">Включить проверку AI:</label>
    <input type="checkbox" id="grammaAiChecker" class="form-check-input" 
    {% if user_settings.USE_SENTENCE_AI_CHECK_DEFAULT %}checked{% endif %}>

    <label for="firstGrammaSentence" class="label">Включить автоисправление в браузере</label>
    <input type="checkbox" id="firstGrammaSentence" class="form-check-input" 
    {% if user_settings.USE_FIRST_GRAMMA_SENTENCE_DEFAULT %}checked{% endif %}>

    {% if not report_level %}
        <label class="label" for="useDuplicate">Включить поиск дубликатов:</label>
        <input type="checkbox" id="useDuplicate" class="form-check-input" 
        {% if user_settings.USE_DUBLICATE_SEARCH_DEFAULT %}checked{% endif %}>
    {% endif %}
</div>
{% endmacro %}