<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for("static", filename="pic/favi2.png")}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/normalize.css")}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename='css/style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <title> {{ title }} </title>
</head>
<body>

<!-- Общая шапка и меню -->
{% block menu %}
<div class="header">
    <img class="header__logo" src="{{ url_for("static", filename="pic/favi2.png")}}" alt="logo ">
    <ul class="header__menu">
        {% if g.current_profile %}
            {% for m in menu %}
                <li class="header__menu_item">
                    <a href="{{ url_for(m.url) }}">{{ m.name }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>

    <!-- Сообщение о версии программы -->
     {% if version %}
        <p>Application version {{ version }}</p>
     {% endif %}
    
    <!-- Сообщение о текущем профиле -->
    {% if g.current_profile %}
        <p>Current profile: {{ g.current_profile.profile_name }}</p>
    {% else %}
        <p>No profile selected!</p>
    {% endif %}

    <!-- Сообщение о текущем юзере -->
    <p>Hello, {{ current_user.user_role }}, {{ current_user.user_name }}!</p>
    <a href="{{ url_for("auth.logout") }}">Logout</a>
</div>
 <!-- Блок с флэш сообщениями -->
<div class="header__flash_massages">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="text">{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock menu %}

<!-- Общий контент страниц -->
<div class="section">
    <h1 class="title">{{ title }}</h1>
</div>

<div class="section">
    {% block container %}
    {% endblock container %}
</div>

<div class="section">
    {% block tips %}
    {% endblock tips %}
</div>

<!-- Футер -->
<footer class="footer">
    <p>&copy; 2023 Radiologary</p>
</footer>

<!-- Общие скрипты -->


<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="/static/js/api.js"></script>
<!-- Блок для специфичных JS-скриптов -->
{% block scripts %}
{% endblock scripts %}

</body>
</html>
