<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for("static", filename="pic/favi2.png")}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/normalize.css")}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename='css/toastr.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename='css/style.css') }}">
    
    

    <title> {{ title }} </title>
</head>
<body class="body">

    {% block menu %}
    
    <header class="header">
        <div class="container container--header">
            <a href="{{ url_for("index")}}" class="header__logo--link">
                <img class="header__logo" src="{{ url_for("static", filename="pic/favi2.png")}}" alt="logo ">
            </a>
            
            <nav class="header__nav">
                <ul class="header__menu">
                    {% if g.current_profile %}
                        {% for m in menu %}
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="{{ m.url }}">{{ m.name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </nav>

            
            
            <!-- Сообщение о текущем профиле -->
            
                {% if g.current_profile %}
                    <a href="{{ url_for("profile_settings.choosing_profile") }}">
                        <p class="header__paragraph">Профиль: {{ g.current_profile.profile_name }}</p>
                    </a>
                {% else %}
                    <p class="header__paragraph">No profile selected!</p>
                {% endif %}
            

            <!-- Сообщение о текущем юзере -->
            <p class="header__paragraph">Привет, {{ current_user.roles[0].name }}, {{ current_user.user_name }}!</p>
            <a class="header__link" href="{{ url_for("security.logout") }}">Выйти</a>
        </div>

        <div class="flash-message-panel">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for category, message in messages %}
                            <li class="flash-message {{ category }}">
                                [Категория: {{ category }}] Сообщение: {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
            {% endwith %}
        </div>
    
    </header>
    {% endblock menu %}

    <!-- Общий контент страниц -->
    <main class="main">
        <div class="container">
            <div class="main__title">
                <h1 class="main__heading">{{ title }}</h1>
            </div>

            <div class="main__body">
                {% block container %}
                {% endblock container %}
            </div>
        </div>

        
    </main>

    <footer class="footer">
        <div class="container">
            <p class="footer__paragraph">&copy; 2023-2025 Radiologary</p>
            <!-- Сообщение о версии программы -->
            {% if app_info %}
                <span class="header__paragraph header__paragraph--version">v.{{ app_info.version }}</span>
                <span class="header__paragraph header__paragraph--author">author: {{ app_info.author }}</span>
            {% endif %}
        </div>
    </footer>
</div>
<!-- Общие скрипты -->
<noscript>please turn on JS!</noscript>

<script> 
    document.addEventListener("DOMContentLoaded", function(){
        window.csrfToken = document.getElementById("csrf_token").value;
    })
</script>

<script src="{{ url_for("static", filename='js/jquery.js') }}"></script>
<script src="{{ url_for("static", filename='js/toastr.min.js') }}"></script>
<script src="{{ url_for("static", filename='js/loader.js') }}"></script>
<script src="{{ url_for("static", filename='js/utils.js') }}"></script>
<script src="{{ url_for("static", filename='js/api.js') }}"></script>

<!-- Блок для специфичных JS-скриптов -->
{% block scripts %}
{% endblock scripts %}

</body>
</html>
