<!-- choose_report.html -->

{% extends "base.html" %}

{% block container %}
{{ super() }}

<!-- report type\subtype choosing -->
<h2>What report will we use for now?</h2>

<!-- fields group with name, date of birth etc -->
<form class="flex" id="exportForm" style="margin-bottom: 30px;">
    <div class="flex_column">
        <label for="patient-surname">Surname:</label>
        <input style="margin-right: 10px;" type="text" id="patient-surname" name="patient_surname" value="{{ request.form.get('patient_surname', '') }}" required>
    </div>
    <div class="flex_column">
        <label for="patient-name">Name:</label>
        <input style="margin-right: 10px;" type="text" id="patient-name" name="patient_name" value="{{ request.form.get('patient_name', '') }}" required>
    </div>
    <div class="flex_column">
        <label for="patient-patronymicname">Patronymic name:</label>
        <input style="margin-right: 10px;" type="text" id="patient-patronymicname" name="patient_patronymicname" value="{{ request.form.get('patient_patronymicname', '') }}" required>
    </div>
    <div class="flex_column">
        <label for="patient-birthdate">Birthdate:</label>
        <input style="margin-right: 10px;" type="date" id="patient-birthdate" name="patient_birthdate" value="{{ request.form.get('patient_birthdate', '') }}" required>
    </div>
    <div class="flex_column">
        <label for="report-number">Report Number:</label>
        <input style="margin-right: 10px;" type="text" id="report-number" name="report_number" value="{{ request.form.get('report_number', '') }}" required>
    </div>
</form>

<!-- choosing report group -->
<form class="flex" id="reportForm" method="POST">
    <div class="flex_column" id="reports-container">
        <label class="report_label__item" for="report_type">Choose report type:</label>
        <select class="report__select" id="report_type" name="report_type" required>
            {% for rt in report_types_and_subtypes %}
                <option value="{{ rt.type_id }}">{{ rt.type_text }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="flex_column" id="reports-container">
        <label class="report_label__item" for="report_subtype">Choose report subtype:</label>
        <select class="report__select" id="report_subtype" name="report_subtype" required>
            {% for rst in report_subtypes %}
                <!-- Подтипы будут динамически обновляться с помощью JS -->
            {% endfor %}
        </select>
    </div>
    <button class="btn report__btn" type="button" id="select_report_type_subtype" name="select_report_type_subtype">Show reports</button>
</form>

<div id="reports-list">
    {% for report in reports %}
        <a class="flex report-link" href="#" data-report-id="{{ report.id }}"> 
            <p class="report__sentence">{{ report.report_name }}</p>
        </a>
    {% endfor %}
</div>

<script id="report-types-data" type="application/json">
    {{ report_types_and_subtypes|tojson }}
</script>

{% endblock container %}

{% block scripts %}
<!-- Подключаем js файл для этой страницы -->
<script src="/static/js/choose_report.js"></script>
{% endblock scripts %}