<!-- index.html -->

{% extends "base.html" %}

{% block container %}
<input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">

    <p>Добро пожаловать в программу. Здесь вы можете выбрать один из своих профилей для работы или создать новый.</p>

    {% if user_profiles %}
        <div class="choosing-profile">
            <h3>Выберите профиль:</h3>
            <p>Если Вы не хотите каждый раз при входе выбирать 
                профиль потому что, например, пользуетесь одним из них 
                значительно чаще остальных, то просто выберите желаемый 
                профиль "по умолчанию" в настройках профиля 
                и тогда при входе в программу Вы будете сразу начинать 
                со страницы выбора протокола.</p>
            <ul class="choosing-profile__list">
                {% for profile in user_profiles %}
                    <li class="choosing-profile__item">
                        <a href="{{ url_for("profile_settings.choosing_profile", profile_id=profile.id) }}">{{ profile.profile_name }}</a>
                        {% if profile.default_profile %}
                            <span> (по умолчанию)</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <h3>Не найдено ни одного профиля:</h3>
        <p>Здесь вы можете создать новый профиль. Профиль нужен для 
            сохранения настроек Ваших шаблонов. Вы можете создавать 
            различные настройки вида, отображения шаблонов, различные 
            способы взаимодействия с ними, а также в принципе абсолютно 
            разные наборы шаблонов для разных профилей. Создание нескольких 
            профилей особенно удобно если вы работаете в нескольких местах, 
            где либоо разные требования к оформлению протоколов, либо разные 
            модальности. Настройка разных профилей в таком случае сделает 
            Вашу работу с программой более комфортной. Вы сможете убрать из 
            видимости часть кнопок и часть функционала, который не используете 
            в текущем амплуа и они не будут вам мешать. Вы сможете настоить 
            различные цветовые темы оформления, чтобы интуитивно понимать в 
            каком профиле вы работаете. И т.д.</p>
        
    {% endif %}

    <div class="flex choosing-profile__buttons-block">
        <button class="btn btn_report" id="profileCreationButton">Создать профиль</button>
        <button class="btn btn_report" id="changeDefaultProfileButton">Сменить профиль по умолчанию</button>
    </div>

    <!-- Блок для создания нового профиля -->
     <div class="make-profile-default" id="makeProfileDefaultBlock" style="display: none;">
        <h3>Выберите профиль по умолчанию:</h3>
        <ul class="make-profile-default__list">
            {% for profile in user_profiles %}
                <li class="make-profile-default__item">
                    <input class="make-profile-default__radio" id="profile{{ profile.id }}" type="radio" data-profile-id="{{ profile.id }}" name="default_profile" value="{{ profile.id }}" {% if profile.default_profile %} checked {% endif %}>
                    <label for="profile{{ profile.id }}">{{ profile.profile_name }}</label>
                </li>
            {% endfor %}
        </ul>
        <button class="btn btn_report" id="saveDefaultProfileButton">Сохранить</button>

     </div>

    <!-- Блок для создания нового профиля -->
    <form class="creation-profile" id="profileCreationForm" style="display: none;">
      
        <div class="creation-profile__block">
            <label for="profile_name">Profile Name:</label>
            <input type="text" id="profileName" name="profile_name" class="form-control" required>
        </div>
        <div class="creation-profile__block">
            <label for="description">Description:</label>
            <textarea id="profileDescription" name="description" class="form-control"></textarea>
        </div>
        <div class="creation-profile__block">
            <label for="is-default">Сделать ли этот профиль, профилем по умолчанию?:</label>
            <input type="checkbox" id="isDefault" name="is-default" class=""></input>
        </div>
        <button type="button" class="btn btn-primary" id="saveProfileButton">Сохранить</button>
    </form>


{% endblock container %}


{% block scripts %}

<script src="{{ url_for('static', filename='js/choose_profile.js') }}"></script>

{% endblock scripts %}