<!-- create_report.html -->

{% extends "base.html" %}

{% block container %}



<!-- New report master -->
<div class="container">
    <h2>Create a New Report</h2>
    <form id="report-creation-form" class="flex" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <!-- Fields for creating report -->
        <div class="flex_column">
            <label class="report_label__item" for="report_name">Report Name:</label>
            <input class="report_input__item form-control" type="text" id="report_name" name="report_name" required>
        </div>
        <div class="flex_column">
            <label class="report_label__item" for="report_type">Report Type:</label>
            <select class="report__select" id="report_type" name="report_type" required>
                {% for rt in report_types_and_subtypes %}
                    <option value="{{ rt.type_id }}">{{ rt.type_text }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex_column">
            <label class="report_label__item" for="report_subtype">Report Subtype:</label>
            <select class="report__select" id="report_subtype" name="report_subtype" required>
               <!-- Empty, will be filled dynamically -->
            </select>
        </div>
        <div class="flex_column">
            <label class="report_label__item" for="comment">Comment:</label>
            <input class="report_input__item form-control" type="text" id="comment" name="comment" required>
        </div>
        <!-- side boolean changer -->
        <div class="flex_column">
            <label class="report_label__item">Учтывать сторону:</label> 
            <div class="flex_row">
                <input type="radio" id="report_side_yes" name="report_side" value="true" class="form-check-input"> 
                <label for="report_side_yes" class="form-check-label">Да</label> 
                <input type="radio" id="report_side_no" name="report_side" value="false" class="form-check-input" checked>
                <label for="report_side_no" class="form-check-label">Нет</label> 
            </div>
        </div>
        <div class="flex_column">
            <label class="report_label__item" for="action" >Select the method to create a report:</label>
            <select class="report__select form-control" id="action" name="action" required>
                <option value="manual">Manually</option>
                <option value="file">From File</option>
                <option value="existing">From Existing Report</option>
            </select>
        </div>

        <div class="flex_column" id="file-upload-container" style="display: none;">
            <label class="report_label__item" for="report_file">Upload Report File:</label>
            <input class="report_input__item form-control" type="file" id="report_file" name="report_file" accept=".doc, .docx">
        </div>
        
        <button class="btn report__btn" type="button" name="report_creation">Create Report</button>


        

    </form>
    <!-- Список существующих отчетов -->
    <div id="existing-report-container" style="display: none;">
        <h3>Select an Existing Report</h3>
        <ul id="existing-report-list">
            {% for report in user_reports %}
            <li class="report_form__item" data-report-type="{{ report.report_type }}">
                <input type="checkbox" id="report_{{ report.id }}" name="existing_report_id" value="{{ report.id }}">
                <label for="report_{{ report.id }}">{{ report.report_name }}</label>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>

<!-- Hidden element to pass subtype data -->
<script id="report-types-data" type="application/json">
    {{ report_types_and_subtypes|tojson }}
</script>


<pre style="font-size: 12px; width: 800px; margin-top: 20px;"> Инструкция по подготовке текста в Word для создания шаблона
    Чтобы создать шаблон с помощью нашей программы, необходимо правильно подготовить текст в документе Word. 
    Следуйте этой инструкции, чтобы программа корректно обработала ваш документ:
    
    1. Структура параграфов
    Каждый новый раздел документа начинается с заголовка. Заголовок должен быть выделен жирным шрифтом.
    После заголовка идет обычный текст параграфа, который программа разделит на предложения автоматически.
    2. Тип параграфа и настройки
    Если вы хотите задать определенные свойства параграфу, в начале заголовка используйте 
    двойные скобки с указанием типа и настроек. Пример: ((тип, настройка1, настройка2, ...)) Заголовок параграфа.
    
    Возможные типы параграфа:
    
    text – обычный текст.
    impression – впечатление.
    clincontext – клинический контекст.
    scanparam – параметры сканирования.
    custom – пользовательский тип.
    Пример использования: ((scanparam, **, ==)) Параметры сканирования. Здесь:
    
    scanparam – тип параграфа.
    ** – параграф будет невидимым (не будет отображаться в итоговом документе).
    == – заголовок параграфа будет жирным.
    Заголовок параграфа – "Параметры сканирования".
    Настройки параграфа (опционально):
    
    ** – сделать параграф невидимым.
    == – сделать текст заголовка жирным.
    ++ – отметить параграф как заголовок.
    3. Разделение предложений
    Для разделения текста на отдельные предложения внутри параграфа используйте символы !!.
    Если нужно разделить предложение на несколько вариантов (альтернатив), используйте !!. 
    Программа добавит предложения после !! с тем же индексом и увеличенным весом.
    Пример: "Это первое предложение!!Альтернативное предложение." Программа воспримет 
    это как два связанных предложения.
    4. Примеры использования
    Обычный параграф: ((text)) Это заголовок обычного параграфа. Это текст первого предложения.
    Параграф со скрытым текстом и жирным заголовком: ((clincontext, **, ==)) Скрытый клинический контекст. 
    Это предложение будет скрыто в итоговом документе.
    Теперь вы знаете, как подготовить документ Word для создания шаблона. Правильно отформатируйте ваш текст, 
    и программа автоматически обработает его, создавая удобный шаблон!
</pre>

{% endblock container %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/create_report.js') }}"></script>
{% endblock scripts %}

