<!-- edit_report.html -->

{% extends "base.html" %}
{% from "macros/edit_sentence_buttons.html" import control_buttons, info_icons %}
{% from "macros/all_popups.html" import buffer_popup, share_popup %}
{% from "macros/editor_checkboxes.html" import editor_checkboxes%}


{% block container %}
{{ super() }}
<input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">


<div class="container edit-report" id="editReportContainer">
    {% if report_data %}
    <form class="edit-report__form--report" id="edit-report-form">
        <div class="flex">
            <div class="edit-report__input-block">
                <label class="report_label__item" for="report_type">Report Type:</label>
                <input class="input report_input__item report_input__item--type" id="report_type" name="report_type" value="{{ report_data.report_type }}" readonly>
            </div>
            <div class="edit-report__input-block">
                <label class="report_label__item" for="report_subtype">Report Subtype:</label>
                <input class="input report_input__item" id="report_subtype" name="report_subtype" value="{{ report_data.report_subtype }}" readonly>
            </div>
            <div class="edit-report__input-block">
                <label class="report_label__item" for="report_name">Report Name:</label>
                <input class="input report_input__item" type="text" id="reportName" name="report_name" value="{{ report_data.report_name }}" required>
            </div>
            <div class="edit-report__input-block">
                <label class="report_label__item" for="comment">Comment:</label>
                <input class="input report_input__item" type="text" id="reportComment" name="comment" value="{{ report_data.comment }}" required>
            </div>
            <!-- side boolean changer -->
            <div class="edit-report__input-block">
                <label class="report_label__item">Учитывать сторону:</label> <!-- Подпись для радиокнопок -->
                <div class="flex_row">
                    <input type="radio" name="report_side" value="True" class="form-check-input" {% if report_data.report_side == True %}checked{% endif %}> 
                    <label for="report_side_yes" class="report_label__item">Да</label>
                    <input type="radio" name="report_side" value="False" class="form-check-input" {% if report_data.report_side == False %}checked{% endif %}> 
                    <label for="report_side_no" class="report_label__item">Нет</label>
                </div>
            </div>
            <!-- Отключение проверок -->
            {{editor_checkboxes(user_settings, report_level=True)}}

            
            <button class="btn report__btn" type="button" id="updateReportButton">Сохранить изменения</button>
            <!-- Кнопка для вызова попапа буфера -->
            <button type="button" id="openBufferPopupButton" class="btn btn-icon btn-open-buffer" title="Открыть буфер обмена">
                📋 Буфер обмена
            </button>
            <!-- Кнопка для шаринга протокола -->
            <button class="btn report__btn" type="button" id="shareReportButton">Поделиться</button>

            <!-- Кнопка для того чтобы сделать протокол общедоступным, видна только суперадмину -->
            {% if user_max_rank == 4 %}
                <button class="btn report__btn" type="button" id="makeReportPublicButton" data-report-public="report_data.report_public">
                    {% if not report_data.report_public %}
                        Сделать общедоступным
                    {% else %}
                        Сделать приватным
                    {% endif %}
                </button>
            {% endif %}
             
        </div>
    </form>
    <br>
    <hr class="sentence-separator">
    
    <br>

    <div class="report_borderline"></div>
    <div class="edit-paragraph">
       
            <!-- Уровень параграфа -->
            {% if report_paragraphs %}
                <ul class="edit-paragraph__list" id="editParagraphsList">
                    {% for paragraph in report_paragraphs %}

                        {% if paragraph.str_before or paragraph.is_impression%}
                            <br>
                        {% endif %}
                        
                        <li class="wrapper__card edit-paragraph__item
                            {% if paragraph.is_impression %}
                            wrapper__card--impression
                            {% elif paragraph.is_active %}
                            wrapper__card--text
                            {% endif %}
                            "
                            data-paragraph-id="{{ paragraph.id }}">

                            
                            <div class="edit-paragraph__title-wrapper">
                                <div class="drag-handle">☰</div> <!-- Хваталка -->

                                <div class="edit-paragraph__info-box">
                                    <h3 class="edit-paragraph__title
                                        {% if paragraph.bold_paragraph %}
                                        paragraph__text--bold
                                        {% endif %}
                                        {% if not paragraph.paragraph_visible %}
                                        edit-paragraph__title--invisible
                                        {% endif %}
                                        "
                                        data-paragraph-id="{{ paragraph.id }}"
                                        data-paragraph-index="{{ paragraph.paragraph_index }}"
                                        data-paragraph-weight="{{ paragraph.paragraph_weight }}"
                                        data-paragraph-tags="{{ paragraph.tags }}"
                                        data-paragraph-comment="{{ paragraph.comment }}"
                                        data-paragraph-visible="{{ paragraph.paragraph_visible }}"
                                        data-bold-paragraph="{{ paragraph.bold_paragraph }}"
                                        data-title-paragraph="{{ paragraph.title_paragraph }}"
                                        data-paragraph-impression="{{ paragraph.is_impression }}"
                                        data-paragraph-active="{{ paragraph.is_active }}"
                                        data-paragraph-str-before="{{ paragraph.str_before }}"
                                        data-paragraph-str-after="{{ paragraph.str_after }}"
                                        data-paragraph-additional="{{ paragraph.is_additional }}"
                                
                                        {% if not paragraph.title_paragraph %}
                                        style="display: inline;"
                                        {% else %}
                                        style="display: block;"
                                        {% endif %}
                                        >
                                        <b class=""> {{ paragraph.paragraph }} </b>
                                    </h3>
                                
                                        {% for sentence in paragraph.head_sentences %}
                                            <span class="edit-sentence__item" data-sentence-id="{{ sentence.id }}">
                                                {{ sentence.sentence }}
                                            </span>
                                        {% endfor %}
                                
                                </div>
                            </div>
                            
                            <div class="control-buttons__wrapper">
                                <!-- Кнопки управления из макроса -->
                                {{ control_buttons(paragraph.id, 'paragraph', report_data.id, paragraph.paragraph, report_data.report_type) }}
                                
                            </div>

                        </li>

                        {% if paragraph.str_after %}
                            <br>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            <br>
            <hr class="sentence-separator">
            <br>
            <div class="">
                <label class="label edit-paragraph__label" for="new_paragraph">Добавить новый параграф</label> 
                <button class="btn report__btn edit-paragraph__button" type="button" id="addParagraphButton">Добавить</button>
            </div>
    </div>
    
    {% else %}
    <p>Report not found or you don't have permission to edit it.</p>
    
    <!-- List of tables and buttons for editing -->
    {% endif %}
</div>

<div class="report-checks">
    <div class="report-checks__buttons-block">
        <h3 class="report-checks_title">Возможные проверки для данного протокола</h3>
        <button class"btn report__btn report-checks__btn" 
            id="startCheckersButton" 
            > Запуск проверки 
        </button>
    </div>

    <ul class="report-checks__list" id="reportCheckList" style="display: none;">
        <!-- Отчет с сервера, заполню динамически через js -->
    </ul>
</div>


<!-- Попап с информацией о предложении -->
<div id="paragraphPopup" class="sentence-popup" style="display: none;">
    <div class="sentence-popup__info-box">
        <span class="sentence-popup__info-item"><strong>ID:</strong> <span id="popupElementId"></span></span>
        <span class="sentence-popup__info-item"><strong>Индекс:</strong> <span id="popupElementIndex"></span></span>
        <span class="sentence-popup__info-item"><strong>Комментарий:</strong> <span id="popupElementComment"></span></span>
        <span class="sentence-popup__info-item"><strong>Теги:</strong> <span id="popupElementTags"></span></span>
    </div>
    <div class="flex_column sentence-pupup_edit-box">
        <div class="sentence-popup__checkbox-wrapper">
            <input type="checkbox" id="elementVisibleCheckbox" class="sentence-popup__checkbox--visible">
            <label for="elementVisibleCheckbox" class="form-check-label">Видимость</label>
        </div>
        <div class="sentence-popup__checkbox-wrapper">
            <input type="checkbox" id="elementBoldCheckbox" class="sentence-popup__checkbox--bold">
            <label for="elementBoldCheckbox" class="form-check-label">Жирный</label>
        </div>
        <div class="sentence-popup__checkbox-wrapper">
            <input type="checkbox" id="elementTitleCheckbox" class="sentence-popup__checkbox--title">
            <label for="elementTitleCheckbox" class="form-check-label">перенос строки</label>
        </div>
        <div class="sentence-popup__checkbox-wrapper">
            <input type="checkbox" id="elementImpressionCheckbox" class="sentence-popup__checkbox--impression">
            <label for="elementImpressionCheckbox" class="sentence-popup__checkbox--impression">Заключение</label>
        </div>
        <div class="sentence-popup__checkbox-wrapper">
            <input type="checkbox" id="elementIsActiveCheckbox" class="sentence-popup__checkbox--active">
            <label for="elementIsActiveCheckbox" class="sentence-popup__checkbox--active">Активный</label>
        </div>
        <div class="sentence-popup__checkbox-wrapper">
            <input type="checkbox" id="elementStrBefore" class="sentence-popup__checkbox--str-before">
            <label for="elementStrBefore" class="sentence-popup__checkbox--str-before">Строка до</label>
        </div>
        <div class="sentence-popup__checkbox-wrapper">
            <input type="checkbox" id="elementStrAfter" class="sentence-popup__checkbox--str-after">
            <label for="elementStrAfter" class="sentence-popup__checkbox--str-after">Строка после</label>
        </div>
        <div class="sentence-popup__checkbox-wrapper">
            <input type="checkbox" id="elementIsAdditional" class="sentence-popup__checkbox--additional">
            <label for="elementIsAdditional" class="sentence-popup__checkbox--additional">Дополнительный</label>
        </div>
        <button id="paragraphPopupSaveChangesButton" class="btn report__btn">Сохранить</button>
    </div>

    <button id="closeParagraphPopupButton" class="btn report__btn">Закрыть</button>
</div>


<!-- Буфер обмена (попап) из макроса -->
{{ buffer_popup() }}

<!-- Попап для шаринга протокола по email -->
{{ share_popup() }}

    
{% endblock container %}

{% block scripts %}
<script>
    const reportData = {{ report_data | tojson | safe }};
    const reportParagraphs = {{ report_paragraphs | tojson | safe }};
</script>

<script src="{{ url_for('static', filename='js/buffer_popup.js') }}"></script>
<script src="{{ url_for('static', filename='js/sentence_buffer.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
<script src="{{ url_for('static', filename='js/edit_report.js') }}"></script>
{% endblock scripts %}