 <!-- edit_tab.html -->

{% extends "index.html" %}

{% block container %}
{{ super() }}

<div class="container">
    <h1 class="mb-4">Edit tab</h1>

    <!-- Ask about to add new report -->
    {% if not new_report_query %}
    <h4>Do you want to add new report?</h4>
    <form class="flex-row" method="POST">
        <button class="btn" type="submit" name="report_creation_form_view">Yes i do</button>
    </form>

    {% else %}
    <!-- Form to add new report -->
    <div class="form-group">
        <form class="flex-row" method="POST">
            <div>
                <label for="report_name">Report Name:</label>
                <input type="text" id="report_name" name="report_name" required>
            </div>
            <div>
                <label for="report_type">Report Type:</label>
                <select id="report_type" name="report_type" required>
                    {% for rt in report_types %}
                        <option value="{{ rt.id }}" {% if rt.id == 1 %}selected{% endif %}>{{ rt.type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="report_subtype">Report Subtype:</label>
                <select id="report_subtype" name="report_subtype" required>
                   <!-- Empty, will be filled dynamically -->
                </select>
            </div>
            <div>
                <label for="comment">Comment:</label>
                <input type="text" id="comment" name="comment" required>
            </div>
            <button class="btn" type="submit" name="report_creation">Create Report</button>
        </form>
    </div>
    {% endif %}
    
    <!-- Ask about to add types and subtypes -->
    {% if not type_subtype_editing_query %}
    <h4>Do you want to set up types and subtypes?</h4>
    <form class="flex-row" method="POST">
        <button class="btn" type="submit" name="type_subtype_edit_form_view">Yes i do</button>
    </form>
    {% else %}

        <!-- Types -->
        <div class="types">
            <form class="" method = "POST">
                <div class="flex-row">
                    <input type="text" id="new_type" name="new_type">
                    <button class="btn" type="submit" name="add_new_type_button">add type</button>
                </div>
            </form>
                <div class="">
                    {% for type in report_types %}
                        <form class="" method = "POST">
                            <input type="text" id="type_id" name="type_id" value=" {{ type.id }} " readonly>
                            <input type="text" id="type_type" name="type_type" value="{{ type.type }}">
                            <button class="btn" type="submit" name="delete_type_button">delete type</button>
                            <button class="btn" type="submit" name="edit_type_button">Edit type</button>
                        </form>
                    {% endfor %}
                </div>
            
        </div>

        <!-- Subtypes -->
        <div class="subtypes">
            
                <form class="flex-row" method = "POST">
                    <select id="report_subtype_type" name="report_subtype_type" required>
                        {% for type in report_types %}
                            <option value="{{ type.id }}">{{ type.type }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" id="new_subtype" name="new_subtype">
                    <button class="btn" type="submit" name="add_new_subtype_button">add subtype</button>
                </form>
            
                <div class="">
                    {% for subtype in report_subtypes %}
                        <form class="" method = "POST">
                            <input type="text" id="subtype_id" name="subtype_id" value=" {{ subtype.id }} " readonly>
                            <input type="text" id="subtype_type" name="subtype_type" value="{{ subtype.type_id }}" readonly>
                            <input type="text" id="subtype_subtype" name="subtype_subtype" value="{{ subtype.subtype }}">
                            <button class="btn" type="submit" name="delete_subtype_button">delete subtype</button>
                            <button class="btn" type="submit" name="edit_subtype_button">Edit subtype</button>
                        </form>
                    {% endfor %}
                </div>
        </div>

    {% endif %}

    <!-- Form for filtering by report type -->
    <div class="form-group">
        <label for="filter_type">Filter by Type:</label>
        <select id="filter_type" name="filter_type">
            <option value="">All</option>
            {% for rt in report_types %}
                <option value="{{ rt.id }}">{{ rt.type }}</option>
            {% endfor %}
        </select>
    </div>


    {% if user_reports and not type_subtype_editing_query %}
    <h3>List of reports</h3>
    <div id="report_list">
        {% for report in user_reports %}
            <form class="flex-row report-item" data-type-id="{{ report.report_type }}" method="POST" action="{{ url_for("edit_tab") }}">
                <input type="hidden" name="report_id" value="{{ report.id }}">
                <p><input value="{{ report.report_name }}" name="report_name" readonly></p>
                <p><input value="{{ report.comment }}" name="comment" readonly></p>
                <p><input value="{{ report.report_type_rel.type }}" name="type" readonly></p>
                <p><input value="{{ report.report_subtype_rel.subtype }}" name="subtype" readonly></p>
                <button class="btn" type="submit" name="report_delete">Delete</button>
                <a class="btn" href="{{ url_for("edit_report", report_id=report.id) }}">Edit</a>
            </form>
        {% endfor %}
    </div>
    {% else %}
        <p>No reports available</p>
    {% endif %}
</div>

<!-- Hidden element to pass subtype data -->
<script id="allSubtypesData" type="application/json">{{ report_subtypes|tojson }}</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var reportTypeSelect = document.getElementById('report_type');
    var reportSubtypeSelect = document.getElementById('report_subtype');
    var filterTypeSelect = document.getElementById('filter_type');

    // Convert subtypes from Jinja to JavaScript object
    var allSubtypes = JSON.parse(document.getElementById('allSubtypesData').textContent);

    // Function to update subtypes based on the selected report type
    function updateSubtypes(type_id) {
        // Clear current options
        reportSubtypeSelect.innerHTML = '';

        // Add new options corresponding to the selected report type
        allSubtypes.forEach(function(subtype) {
            if (subtype.type_id == type_id) {
                var option = document.createElement('option');
                option.value = subtype.id;
                option.textContent = subtype.subtype;
                reportSubtypeSelect.appendChild(option);
            }
        });
    }

    // Initialize: Set id=1 as the selected report type
    if (reportTypeSelect) {
        var initialTypeId = parseInt(reportTypeSelect.value, 10);
        updateSubtypes(initialTypeId);

        // Update subtypes when the report type value changes
        reportTypeSelect.addEventListener('change', function() {
            updateSubtypes(parseInt(this.value, 10));
        });
    }
     // Filter reports by type
    filterTypeSelect.addEventListener('change', function() {
        var selectedTypeId = this.value;
        var reportItems = document.querySelectorAll('.report-item');
        reportItems.forEach(function(item) {
            if (selectedTypeId === "" || item.getAttribute('data-type-id') === selectedTypeId) {
                item.style.display = 'flex';
            } else {
                item.style.display = 'none';
            }
        });
    });
});
</script>
{% endblock container %}
