<!--edit_paragraph.html-->

{% extends "base.html" %}

{% block container %}
{% from "macros/edit_sentence_buttons.html" import control_buttons, info_icons %}
{% from "macros/buffer_popup.html" import buffer_popup %}
{% from "macros/buttons.html" import buffer_open_button %}
{{ super() }}
<input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">

<p>Редактирование параграфа {{ paragraph.id}} из протокола {{ report_id }} </p>
<div class="flex">
    <button class="btn report__btn" id="backToReportButton" type="button">Вернуться к редактированию протокола</button>
</div>

<div class="container edit-paragraph" id="editParagraphContainer" data-report-id="{{ report_id }}" data-paragraph-id="{{ paragraph.id }}">

    <!-- Данные параграфа -->
    <div class="flex edit-paragraph__paragraph-data-block">
        <div class="flex edit-paragraph__paragraph-data">
            <div>
                <label for="paragraph_id">ID:</label>
                <span name="paragraph_id">{{ paragraph.id }}</span>
            </div>
            <div>
                <label>Комментарий:</label>
                <input type="text" id="paragraph_comment" value="{{ paragraph.paragraph_comment }}" class="input">
            </div>
            <div>
                <label>Вес:</label>
                <input type="number" id="paragraph_weight" value="{{ paragraph.paragraph_weight }}" class="input">
            </div>
            <div>
                <label>Количество связей у группы главных предложений:</label>
                <p> {{ paragraph.head_group_links}} </p>
            </div>
            <div>
                <label>Количество связей у группы дополнительных предложений:</label>
                <p> {{ paragraph.tail_group_links}} </p>
            </div>
        </div>
        <!-- Кнопка сохранения -->
        <button class="btn report__btn edit-paragraph__btn--save-paragraph-data" id="saveParagraphDataButton">Сохранить изменения</button>
        <!-- Кнопка для вызова попапа буфера -->
        {{ buffer_open_button() }}
    </div>

    <hr>

    <!-- Главные предложения -->
    <h3>Главные предложения</h3>
    <ul class="edit-sentence__list"
        id="editHeadSentenceList"
        data-paragraph-id="{{ paragraph.id }}"
        >
        {% if paragraph.head_sentences %}
            {% for sentence in paragraph.head_sentences %}
                <li class="wrapper__card edit-sentence__item edit-sentence__item--head 
                    {% if sentence.body_sentences %}
                        wrapper__card--text
                    {% endif %}
                    " 
                data-sentence-id="{{ sentence.id }}"
                data-paragraph-id="{{ paragraph.id }}"
                data-sentence-index="{{ sentence.sentence_index }}"
                data-sentence-type="head"
                data-sentence-tags="{{ sentence.tags }}"
                data-sentence-comment="{{ sentence.comment }}"
                data-sentence-is-linked="{{ sentence.is_linked }}"
                data-sentence-has-linked-body="{{ sentence.has_linked_body}}"
                data-sentence-group-id="{{ sentence.group_id }}"
                data-sentence-hard-edit="False"
                >

                <div class="drag-handle">☰</div> <!-- Хваталка -->
                    
                <div>
                    <p class="edit-sentence__text">{{ sentence.sentence }}</p>
                    <p>has_linked_body: {{ sentence.has_linked_body }}</p>
                    {% if not sentence.body_sentences %}
                        <p class="edit-paragraph__title--invisible">У данного главного предложения нет дополнительных предложений</p>
                    {% endif %}
                </div>

                <div class="control-buttons__wrapper">
                    <!-- Кнопки управления из макроса -->
                    {{ control_buttons(sentence.id, 'sentence', report_id, related_id=paragraph.id, sentence_type="head", body_sentence_group_id=sentence.body_sentence_group_id, text=sentence.sentence, group_id=sentence.group_id) }}
                    <!-- Блок информационных значков из макроса -->
                    {{ info_icons(sentence.has_linked_body, sentence.is_linked) }}
                </div>
                
                </li>
            {% endfor %}
        {% else %}
            <p>У параграфа пока нет главных предложений</p>
        {% endif %}
    </ul>
    <hr>

    <button class="btn report__btn" id="addHeadSentenceButton">Добавить главное предложение</button>

    <hr>
    <!-- Дополнительные предложения -->
    <h3 class="edit-sentence__title" id="editSentenceTitle">Дополнительные предложения параграфа</h3>
    <ul class="edit-sentence__list" 
        style="display: block;" 
        id="editTailSentenceList"
        data-paragraph-id="{{ paragraph.id }}"
        >
        {% for sentence in paragraph.tail_sentences %}
            <li class="wrapper__card wrapper__card--tail edit-sentence__item edit-sentence__item--tail" 
            data-sentence-id="{{ sentence.id }}"
            data-paragraph-id="{{ paragraph.id }}"
            data-sentence-weight="{{ sentence.sentence_weight }}"
            data-sentence-type="tail"
            data-sentence-tags="{{ sentence.tags }}"
            data-sentence-comment="{{ sentence.comment }}"
            data-sentence-is-linked="{{ sentence.is_linked }}"
            data-sentence-group-id="{{ sentence.group_id }}"
            data-sentence-hard-edit="False"
            >

            <div> {{sentence.sentence_weight}}</div> 
            <p class="edit-sentence__text">{{ sentence.sentence }}</p>

            <div class="control-buttons__wrapper">
                <!-- Кнопки управления из макроса -->
                {{ control_buttons(sentence.id, 'sentence', report_id, related_id=paragraph.id, sentence_type="tail", text=sentence.sentence, group_id=sentence.group_id) }}
                <!-- Блок информационных значков из макроса -->
                {{ info_icons(sentence.has_linked_body, sentence.is_linked) }}
            </div>

            </li>
        {% endfor %}
        <hr>
        <button class="btn report__btn" id="addTailSentenceButton">Добавить дополнительное предложение</button>
    </ul>
</div>

<!-- Попап с информацией о предложении -->
<div id="sentencePopup" class="sentence-popup" style="display: none;">
    <div class="sentence-popup__info-box">
        <span class="sentence-popup__info-item"><strong>ID:</strong> <span id="popupSentenceId"></span></span>
        <span class="sentence-popup__info-item"><strong>Индекс:</strong> <span id="popupSentenceIndex"></span></span>
        <span class="sentence-popup__info-item"><strong>Комментарий:</strong> <span id="popupSentenceComment"></span></span>
        <span class="sentence-popup__info-item"><strong>Теги:</strong> <span id="popupSentenceTags"></span></span>
    </div>
    <div class="sentence-popup__edit-button-group">
        <button id="sentencePopupEditButton" class="btn report__btn">Редактировать</button>
        <input type="checkbox" id="hardEditCheckbox" class="checkbox">
    </div>
    <button id="closeSentencePopup" class="btn report__btn">Закрыть</button>
</div>


<!-- Буфер обмена (попап) из макроса -->
{{ buffer_popup() }}


{% endblock container %}

{% block scripts %}
<script>
    const paragraphData = {{ paragraph | tojson | safe }};
</script>

<script src="{{ url_for('static', filename='js/buffer_popup.js') }}"></script>
<script src="{{ url_for('static', filename='js/sentence_buffer.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
<script src="{{ url_for('static', filename='js/edit_paragraph.js') }}"></script>
{% endblock scripts %}