<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for("static", filename="pic/favi2.png")}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/normalize.css")}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename='css/style.css') }}">
    <title> {{ title }} </title>
</head>
<body>
    
{% block menu %}
<div class="header">
    <img class="header__logo" src="{{ url_for("static", filename="pic/favi.webp")}}" alt="logo ">
    <ul class = "header__menu">
        {% for m in menu %}
            <li class="header__menu_item">
                <a href= "{{ url_for(m.url) }}"> {{ m.name }}</a>
            </li>
        {% endfor %}
        
    </ul>
    <p>Hello,{{ current_user.user_role}}, {{ current_user.user_name }}!</p>
    <a href="{{ url_for("auth.logout") }}">Logout</a>
</div>

<div class="header__flash_massages">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="text">{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>

{% endblock menu %}

<div class="section">
    <h1 class="title"> {{ title }} </h1>

    
</div>

<div class="section">
    {% block container %}
    {% endblock container %}
</div>


<div class="section">
    {% block tips %}
        <p>1. Нужно настроить фильтр для подтипов в окне создания и редактирования подтипа и сделать имеющиеся типы и подтипы видимыми только по запросу</p>
        <p>2. Разобраться насколько безопасно я использую overlaps в models.py и там же рассмотреть более широкое использование back_populates</p>
        <p>3. нужно постараться в случае с типом и подтипом уйти от словарей и лишних переменных и решить это через type_subtype_rel </p>
        <p>4. добавить проверки try\exept в код при обработки типов и подтипов </p>
        <p>5. нужно в запросах к базе данных перейти с query.get на session.get.</p>
        <p>6. Добавить возможность переключения языка интерфейса</p>
        <p>7. Добавить возможность переключения темы оформления сайта</p>
        <p>8. Пункт меню report и всю его логику перенести на главную страницу</p>
        <p>9. убрать всю херню связанную с выбором пути для файла и имени папки для сохранения так как это все будет происходить на сервере. Вместо этого прописать автоматическое создание папки пользователя с именем соответствующим его адресу почты где вместо @ и . будет _. В эту папку мы будем сохранять шаблон. Соответственно нужно будет поменять и логику связанную с созданием файла ворд</p>
        <p>10. нужно индивидуализировать папку пользователя внутри папки upload чтобы потом искать эту папку по конкретным данным пользователя</p>
        <p>11. -</p>
        <p>12. -</p>

    {% endblock tips %}
</div>


<footer>
    <p>&copy; 2023 Radiologary</p>
</footer>
    
    
</body>
</html>
