{% extends "login_base.html" %}

{% block container %}
{{ super() }}


<h1 class="title title-auth">Авторизация</h1>
<form class="flex_column" method="POST" action="{{ url_for("auth.login") }}">
    
    <div class="wrapper wrapper--auth">
        <label class="label label--auth" for="email">E-mail:</label>
        <input class="input input--auth" type="email" id="email" name="email" required><br>
    </div>

    <div class="wrapper wrapper--auth">
        <label class="label label--auth" for="password">Password:</label>
        <input class="input input--auth" type="password" id="password" name="password" required><br>
    </div>

    <button class="btn btn--auth" type="submit">Войти</button>
</form>

<p>Нет аккаунта? 
    <a class="link--auth" href="{{ url_for("auth.signup") }}">Создать</a>
</p>

{% endblock container %}