
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for("static", filename="pic/favi2.png")}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/normalize.css")}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename='css/style.css') }}">
    <title> {{ title }} </title>
</head>
<body>

<div class="main-auth">
    <div class="card card-auth">
        {% block container %}
        {% endblock container %}
    </div>
</div>


<script src="/static/js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="/static/js/api.js"></script>


{% block scripts %}
{% endblock scripts %}
</body>
</html>