<!-- macros.html -->
{% macro render_sentence(sentence) %}
<div class="flex-row">
    <input type="hidden" id="sentence_id" name="sentence_id" value="{{sentence.id}}">
    <input type="text" id="sentence_index" name="sentence_index" value="{{sentence.index}}">
    <input type="text" id="sentence_weight" name="sentence_weight" value="{{sentence.weight}}">
    <input type="text" id="sentence_comment" name="sentence_comment" value="{{sentence.comment}}">
    <input type="text" id="sentence_sentence" name="sentence_sentence" value="{{sentence.sentence}}">
    <button class="" type="submit" id="delete_sentence" value="delete_sentence" name="delete_sentence">delete_sentence</button>
    <button class="" type="submit" id="edit_sentence" value="edit_sentence" name="edit_sentence">edit_sentence</button>
</div>
{% endmacro %}
