<!-- macros.html -->
  
<!-- использую в report_editing -->
{% macro render_sentence(sentence) %}
<div class="wrapper__card 
{% if sentence.sentence_type == "head" %} 
wrapper__card--sentence-head 
{% endif %}
{% if sentence.sentence_type == "body" %} 
wrapper__card--sentence-body {% endif %}">

    <div class="flex edit-sentence__info-box">
        <div class="edit-sentence__wrapper edit-sentence__wrapper--short">
                <label class="label edit-sentence__label" for="sentence_index">Индекс:</label>
            <input class="input edit-sentence__input" type="text" name="sentence_index" value="{{ sentence.index }}">
        </div>
        <div class="edit-sentence__wrapper edit-sentence__wrapper--short">
                <label class="label edit-sentence__label" for="sentence_weight">Вес:</label>
            <input class="input edit-sentence__input" type="text" name="sentence_weight" value="{{ sentence.weight }}">
        </div>
        <div class="edit-sentence__wrapper edit-sentence__wrapper--short">
            <label class="label edit-sentence__label" for="sentence_type">Тип:</label>
            <div class="select-wrapper">
                <select class="select" name="sentence_type">
                    <option value="head" {% if sentence.sentence_type == "head" %}selected{% endif %}>head</option>
                    <option value="tail" {% if sentence.sentence_type == "tail" %}selected{% endif %}>tail</option>
                    <option value="body" {% if sentence.sentence_type == "body" %}selected{% endif %}>body</option>
                </select>
            </div>
        </div>
        
        <div class="edit-sentence__wrapper">
                <label class="label edit-sentence__label" for="sentence_comment">Комментарий:</label>
            <input class="input edit-sentence__input" type="text" name="sentence_comment" value="{{ sentence.comment }}">
        </div>
        
        <button class="btn report__btn edit-sentence__btn edit-sentence__btn--delete-sentence" type="button">Удалить</button>
    </div>

    <div class="edit-sentence__wrapper">
        <label class="label edit-sentence__label edit-sentence__label--text" for="sentence_sentence">Текст предложения:</label>
        <input class="input edit-sentence__input edit-sentence__input-text" type="text" name="sentence_sentence" value="{{ sentence.sentence }}">
    </div>
    
</div>
{% endmacro %}

<!-- использую несколько раз в working_with_report -->
{% macro render_paragraph_and_sentence(paragraph) %}
<li class="report__paragraph">
    <p contenteditable="true" 
    data-paragraph-id="{{ paragraph.id }}" 
    data-title-paragraph="{{ paragraph.title_paragraph }}" 
    data-bold-paragraph="{{ paragraph.bold_paragraph }}" 
    data-visible-paragraph="{{ paragraph.paragraph_visible }}"
    data-paragraph-type="{{ paragraph.paragraph_type}}" 

    class="paragraphTitle 
    {% if paragraph.paragraph_visible %}report__paragraph--visible
    {% if paragraph.bold_paragraph %} report__paragraph--bold{% endif %}
    {% if paragraph.title_paragraph %} report__paragraph--title{% else %} report__paragraph--untitle{% endif %}
    {% else %}report__paragraph--invisible{% endif %}"
    >
        {{ paragraph.paragraph }}
    </p>
    <ul class="">
        <li class="">
            {% if paragraph.sentences %}
                {% for index, sentence_group in paragraph.sentences.items() %}
                    {% if sentence_group[0].index != 0 %}
                        {% for sentence in sentence_group %}
                            {% if sentence.sentence_type == "head" %}
                            <span contenteditable="true"
                            class="report__sentence sentence" 
                            data-paragraph-id="{{ paragraph.id }}" 
                            data-index="{{ index }}"
                            data-id="{{ sentence_group[0].id }}"
                            data-sentence-type="{{ sentence.sentence_type }}"> 
                            {{ sentence.sentence }} 
                            </span>
                            <!-- Кнопка "+" для добавления предложения -->
                            <button class="icon-btn icon-btn--add-sentence" type="button" title="Add Sentence" data-paragraph-id="{{ paragraph.id }}">+</button>
                            {% endif %}
                        {% endfor %}
                        
                    {% endif %}
                {% endfor %}
            {% endif %}
        </li>
    </ul>
</li>
{% endmacro %}

