{% extends "base.html" %}

{% block container %}

<input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">

<div class="container">
    {% if profile_reports %}
    <h3>List of reports</h3>
    
    <!-- Form for filtering by report type -->
    <div class="form-group">
        <label for="filter_type">Filter by Type:</label>
        <select class="report__select report__select--type" id="filter_type" name="filter_type">
            <option value="">All</option>
            {% for type in reports_type_with_subtypes %}
                <option value="{{ type.type_id }}">{{ type.type_text }}</option>
            {% endfor %}
        </select>
    </div>
    
    <!-- Header list to represent column titles -->
    <ul class="report_grid report_header">
        <li><strong>Modalities</strong></li>
        <li><strong>Subtypes</strong></li>
        <li><strong>Report Names</strong></li>
        <li><strong>Comments</strong></li>
        <li><strong>Actions</strong></li>
    </ul>
    
    <!-- Reports list as an unordered list with list items -->
    <ul style="display: grid;" id="reports_list">
        {% for report in profile_reports %}
            <li data-report-type="{{ report.report_to_subtype.subtype_to_type.id }}">
                <form method="POST" action="{{ url_for("my_reports.reports_list") }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="report_id" value="{{ report.id }}">
                    
                    <ul class="report_grid" data-report-type = "{{report.report_to_subtype.subtype_to_type.id}}">
                        <li class="report_form_item" data-report-type="{{ report.report_to_subtype.subtype_to_type.id }}">
                            <input class="report_input__item" value="{{ report.report_to_subtype.subtype_to_type.type_text }}" name="type" id="type" readonly>
                        </li data-report-type="{{ report.report_to_subtype.subtype_to_type.id }}">
                        <li class="report_form_item" data-report-type="{{ report.report_to_subtype.subtype_to_type.id }}">
                            <input class="report_input__item" value="{{ report.report_subtype.subtype_text }}" name="subtype" id="subtype" readonly>
                        </li>
                        <li class="report_form_item" data-report-type="{{ report.report_to_subtype.subtype_to_type.id }}">
                            <input class="report_input__item" value="{{ report.report_name }}" name="report_name" id="report_name" readonly>
                        </li>
                        <li class="report_form_item" data-report-type="{{ report.report_to_subtype.subtype_to_type.id }}">
                            <input class="report_input__item" value="{{ report.comment }}" name="comment" id="comment" readonly>
                        </li>
                        <!-- Interaction buttons as list items -->
                        <li class="report_form_item" data-report-type="{{ report.report_to_subtype.subtype_to_type.id }}">
                            <button class="btn report__btn" type="submit" name="report_delete">Delete</button>
                        </li>
                        <li class="report_form_item" data-report-type="{{ report.report_to_subtype.subtype_to_type.id }}">
                            <a class="btn report__btn" href="{{ url_for("editing_report.edit_report", report_id=report.id) }}">Edit</a>
                        </li>
                    </ul>
                </form>
            </li>
        {% endfor %}
    </ul>
    
    {% else %}
        <p>No reports available</p>
    {% endif %}
</div>

{% endblock container %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/my_reports.js') }}"></script>
{% endblock scripts %}
