{% extends "base.html" %}

{% block container %}
{{ super() }}

<div class="container">
    {% if user_reports_rel %}
    <h3>List of reports</h3>
    
    <!-- Form for filtering by report type -->
    <div class="form-group">
        <label for="filter_type">Filter by Type:</label>
        <select class="report__select report__select--type" id="filter_type" name="filter_type">
            <option value="">All</option>
            {% for rt in report_types %}
                <option value="{{ rt.id }}">{{ rt.type }}</option>
            {% endfor %}
        </select>
    </div>
    
    <!-- Header list to represent column titles -->
    <ul class="report_grid report_header">
        <li><strong>Modalities</strong></li>
        <li><strong>Subtypes</strong></li>
        <li><strong>Report Names</strong></li>
        <li><strong>Comments</strong></li>
        <li><strong>Actions</strong></li>
    </ul>
    
    <!-- Reports list as an unordered list with list items -->
    <ul style="display: grid;" id="reports_list">
        {% for report in user_reports_rel %}
            <li data-report-type="{{ report.report_type }}">
                <form method="POST" action="{{ url_for("my_reports.reports_list") }}">
                    <input type="hidden" name="report_id" value="{{ report.id }}">
                    
                    <ul class="report_grid" data-report-type = "{{report.report_type}}">
                        <li class="report_form_item" data-report-type="{{ report.report_type }}">
                            <input class="report_input__item" value="{{ report.report_type_rel.type }}" name="type" id="type" readonly>
                        </li data-report-type="{{ report.report_type }}">
                        <li class="report_form_item" data-report-type="{{ report.report_type }}">
                            <input class="report_input__item" value="{{ report.report_subtype_rel.subtype }}" name="subtype" id="subtype" readonly>
                        </li>
                        <li class="report_form_item" data-report-type="{{ report.report_type }}">
                            <input class="report_input__item" value="{{ report.report_name }}" name="report_name" id="report_name" readonly>
                        </li>
                        <li class="report_form_item" data-report-type="{{ report.report_type }}">
                            <input class="report_input__item" value="{{ report.comment }}" name="comment" id="comment" readonly>
                        </li>
                        <!-- Interaction buttons as list items -->
                        <li class="report_form_item" data-report-type="{{ report.report_type }}">
                            <button class="btn report__btn" type="submit" name="report_delete">Delete</button>
                        </li>
                        <li class="report_form_item" data-report-type="{{ report.report_type }}">
                            <a class="btn report__btn" href="{{ url_for("editing_report.edit_report", report_id=report.id) }}">Edit</a>
                        </li>
                    </ul>
                </form>
            </li>
        {% endfor %}
    </ul>
    
    {% else %}
        <p>No reports available</p>
    {% endif %}
</div>

{% endblock container %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/my_reports.js') }}"></script>
{% endblock scripts %}
