{% extends "base.html" %}

{% block container %}


<input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">


<form>
    <label for="inputai">Введите запрос</label>
    <input type="text" id="inputai" name="inputai">
    <button id="btn" class="btn report_btn"> Отправить </button>
    <div class="shift"></div>
    <div id="answer" class="answer"></div>
</form>


{% endblock container %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/openai_api.js') }}"></script>
{% endblock scripts %}