<!-- playground.html-->

{% extends "base.html" %}

{% block container %}
<input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">

<h1>Welcome to playground</h1>
<p>Here you can play with different elements of the page</p>
<br>

<div class="flex container">
    <div class="playground-left container">
        {% if sentences %}
            <span>Всего найдено предложений в Sentence: </span>
            <span>{{ sentences|length }}</span>
            <p>шт</p>
        {% endif %}
    
       
                
                   
        <button id="sentenceMigration" type="button">Перенести</button>
       
    
        <h3>Head sentences details</h3>
        {% if sentences %}
            {% for sentence in sentences  %}
            <span> Предложение {{ sentence.sentence}} параграфа {{ sentence.sentence_to_paragraph.paragraph }} </span>
            <span> Протокол {{ sentence.sentence_to_paragraph.paragraph_to_report.report_name }} </span>
            <br>
            <br>
            {% endfor %}
        {% endif %}
    
        <br><br>
    </div>

    <!-- Правая часть -->
    <div class="playground-right container">
        {% if head_sentences %}
            <h2>Head sentences</h2>
            
            <span>{{ head_sentences|length }}</span>
            <p>шт</p>
            <br>
        {% else %}
            <p>Нет данных</p>
        {% endif %}
        
        {% if body_sentences %}
            <h2>Body sentences</h2>
            
            <span>{{ body_sentences|length }}</span>
            <p>шт</p>
            <br>
        {% else %}
            <p>Нет данных</p>
        {% endif %}

        {% if tail_sentences %}
            <h2>Tail sentences</h2>
            
            <span>{{ tail_sentences|length }}</span>
            <p>шт</p>
            <br>
        {% else %}
            <p>Нет данных</p>
        {% endif %}

       
           
        <button id="sentenceProcessing" type="button">Обработать предложения</button>
        
    </div>
</div>


{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/playground.js') }}"></script>
{% endblock %}