<!-- templates/profile_settings.html -->
{% extends "base.html" %}

{% block container %}

<input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">

    <h2>Profile Settings</h2>
    <form method="POST" action="{{ url_for("profile_settings.update_profile_settings") }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="profile_id" value="{{ profile.id }}">
        <div>
            <label for="profile_name">Profile Name:</label>
            <input type="text" id="profile_name" name="profile_name" value="{{ profile.profile_name }}" required>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description">{{ profile.description }}</textarea>
        </div>
        <button type="submit">Save Changes</button>
    </form>

    <form method="POST" action="{{ url_for("profile_settings.delete_profile", profile_id=profile.id) }}" onsubmit="return confirm('Are you sure you want to delete this profile?');">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit">Delete Profile</button>
    </form>


    <!-- Блок настроек для сохранения настроек профиля в БД -->
    <div id="settings-block">
        <div>
            <label for="use_word_reports">Use Word Reports:</label>
            <input type="checkbox" id="use_word_reports" name="use_word_reports" 
                   {% if user_settings.USE_WORD_REPORTS %} checked {% endif %}>
        </div>
        <div>
            <label for="theme">Theme:</label>
            <select id="theme" name="theme">
                <option value="light" {% if user_settings.theme == 'light' %}selected{% endif %}>Light</option>
                <option value="dark" {% if user_settings.theme == 'dark' %}selected{% endif %}>Dark</option>
            </select>
        </div>
        <button id="save-settings">Save Settings</button>
    </div>
    


{% endblock container %}


{% block scripts %}

<script src="{{ url_for('static', filename='js/profile_settings.js') }}"></script>

{% endblock scripts %}
