<!-- report_settings.html -->


{% extends "base.html" %}


{% block container %}
{{ super() }}

<div class="flex">
    <div class="report_side__list">
        <!-- Types -->
        <div class="types">
            <form method="POST">
                <div class="flex">
                    <label for="new_type" class="report_label__item">New Type:</label>
                    <input class="report_input__item" type="text" id="new_type" name="new_type">
                    <button class="btn report__btn" type="submit" name="add_new_type_button">Add Type</button>
                </div>
            </form>
            <div class="report_borderline"></div>
            <ul>
                <li>
                    <div class="type_list">
                        <label class="report_label__item" for="type_type">Edit Types:</label>
                        <div>
                        {% for type in user_types %}
                            <form method="POST" class="flex">
                                <input class="report_input__item" type="hidden" id="type_id" name="type_id" value="{{ type.id }}">
                                <input class="report_input__item" type="text" id="type_type" name="type_type" value="{{ type.type }}">
                                <button class="btn report__btn" type="submit" name="delete_type_button">Delete Type</button>
                                <button class="btn report__btn" type="submit" name="edit_type_button">Edit Type</button>
                            </form>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="report_borderline"></div>
                </li>
            </ul>
        </div>

        <!-- Subtypes -->
        <div class="subtypes">
            <form method="POST" class="flex">
                <label class="report_label__item" for="report_subtype_type">New Subtype:</label>
                <select class="report__select report__select--type" id="report_subtype_type" name="report_subtype_type" required>
                    {% for type in user_types %}
                        <option value="{{ type.id }}">{{ type.type }}</option>
                    {% endfor %}
                </select>
                <input class="report_input__item" type="text" id="new_subtype" name="new_subtype">
                <button class="btn report__btn" type="submit" name="add_new_subtype_button">Add Subtype</button>
            </form>
            <div class="report_borderline"></div>
            <ul>
                <li>
                    <div class="subtype_list">
                        <label class="report_label__item" for="subtype_subtype">Edit Subtypes:</label>
                        {% for subtype in user_subtypes %}
                            <form method="POST" class="flex">
                                <input class="report_input__item" type="hidden" id="subtype_id" name="subtype_id" value="{{ subtype.id }}" readonly>
                                <input class="report_input__item" type="text" id="subtype_subtype" name="subtype_subtype" value="{{ subtype.subtype }}">
                                <input class="report_input__item" type="text" id="subtype_type" name="subtype_type" value="{{ subtype.report_type_rel.type }}" readonly>
                                <button class="btn report__btn" type="submit" name="delete_subtype_button">Delete Subtype</button>
                                <button class="btn report__btn" type="submit" name="edit_subtype_button">Edit Subtype</button>
                            </form>
                        {% endfor %}
                    </div>
                    <div class="report_borderline"></div>
                </li>
            </ul>
        </div>

        <div class="container">
            <h3>Upload word template file</h3>
            <form id="file-upload-form">
                <input type="file" name="file" id="file-input">
                <button type="button">Upload</button>
            </form>
        </div>
    </div>
   
    
    <!-- Key words processing -->
    <div class="">
        <form id="keywords-form">
            <label for="key_word_input" class="report_label__item">New Key Words (comma-separated):</label>
            <input type="text" id="key_word_input" name="key_word_input" required>
            <!-- Чекбокс для выбора связывания с отчетом -->
            <div>
                <label for="link_reports_checkbox" class="report_label__item">Link to Reports:</label>
                <input type="checkbox" id="link_reports_checkbox" name="link_reports_checkbox">
            </div>

            <!-- Список reports пользователя -->
            <div id="report-checkboxes-container" style="display: none;">
                <label class="report_label__item">Select Reports:</label>
                <div>
                    {% for report in user_reports %}
                        <label>
                            <input type="checkbox" name="report_ids" value="{{ report.id }}">
                            {{ report.report_name }}
                        </label><br>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn report__btn">Add Key Words Group</button>
        </form>
        <div class="container">

            <!-- Key words processing -->

            <!-- Блок глобальных ключевых слов -->
            <h3>Global Key Words</h3>
            <div id="">
                {% if global_key_words %}
                    {% for group in global_key_words %}

                            <!-- Группа глобальных ключевых слов -->
                        <div class="flex">
                            <div class="key-words-group" data-group="{{ group.group_index }}">
                                {% for word in group.key_words %}
                                    <span data-id="{{ word.id }}" data-group="{{ group.group_index }}">
                                        {{ word.word }}{% if not loop.last %}, {% endif %}
                                    </span>
                                {% endfor %}
                            </div>

                            <!-- Кнопки для редактирования и добавления ключевых слов -->
                             <div class="">
                                <button class="btn report__btn delete-keywords-btn" data-group="{{ group.group_index }}">Delete</button>
                                <button class="btn report__btn edit-keywords-btn" data-group="{{ group.group_index }}">Edit</button>
                                <div class="add-keyword-input" style="display:none;" data-group="{{ group.group_index }}">
                                    <input type="text" placeholder="Enter new keyword(s)" class="new-keyword-input">
                                </div>
                                <button class="btn report__btn add-keywords-btn" data-group="{{ group.group_index }}">Add Word</button>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No global key words found.</p>
                {% endif %}
            </div>
        </div>
        

        <!-- Новый блок для ключевых слов, привязанных к отчетам -->
        <div class="container">
            <h3>Report-specific Key Words</h3>

            <div id="report-key-words-list">
                {% if report_key_words %}
                {% set ns = namespace(last_report_id=None) %}  <!-- Используем namespace для хранения значения переменной -->
                {% for report in report_key_words %}
                    {% if report.key_words %}
                        <div class="key-words-group">
                            {% if ns.last_report_id != report.report_id %}
                                <h4>Report: {{ report.report_name }} </h4>
                                {% set ns.last_report_id = report.report_id %} <!-- Меняем значение переменной для отслеживания ID текущего протокола вывода -->
                            {% endif %}

                                <!-- Группа ключевых слов привязанных к отчету-->
                                <div class="flex">
                                    <div class="key-words-group" data-report="{{ report.report_id }}" data-group="{{ report.group_index }}">
                                        {% for word in report.key_words %}
                                            <span data-id="{{ word.id }}" data-group="{{ report.group_index }}" data-report="{{ report.report_id }} ">
                                                {{ word.word }}{% if not loop.last %}, {% endif %}
                                            </span>
                                        {% endfor %}
                                    </div>

                                    <!-- Кнопки для редактирования и добавления ключевых слов привязанных к отчетам -->
                                    <div class="">
                                        <button class="btn report__btn delete-report-keywords-btn" data-report="{{ report.report_id }}" data-group="{{ report.group_index }}">Delete</button>
                                        <button class="btn report__btn edit-report-keywords-btn" data-report="{{ report.report_id }}" data-group="{{ report.group_index }}">Edit</button>
                                        <button class="btn report__btn unlink-report-keywords-btn" data-report="{{ report.report_id }}" data-group="{{ report.group_index }}">Unlink</button>
                                        <div class="add-keyword-input" style="display:none;" data-report="{{ report.report_id }}" data-group="{{ report.group_index }}">
                                            <input type="text" placeholder="Enter new keyword(s)" class="new-keyword-input">
                                        </div>
                                        <button class="btn report__btn add-report-keywords-btn" data-report="{{ report.report_id }}" data-group="{{ report.group_index }}">Add Word</button>
                                    </div>
                                </div>
                            </div>
                           
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>No report-specific key words found.</p>
                {% endif %}
            </div>
        </div>


    </div>



</div>
{% endblock container %}

{% block scripts %}
<!-- Подключаем js файл для этой страницы -->
<script src="/static/js/report_settings.js"></script>
{% endblock scripts %}