<!-- report_settings.html -->

{% extends "base.html" %}
{% block container %}

<input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">


<div class="flex report-settings__container">
     <!-- Добавление нового типа протокола -->
    <section class="section report-settings__section report-settings__section--types">
        
        <div class="flex report-settings__box" id="newTypeForm">
            <div class="flex_column">
                <label class="label report-settings__label">
                    Выберите тип для добавления:
                    <select class="select report__select report-settings__select" id="reportTypesDefault">
                        {% for type in default_report_types %}
                            <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                        <option value="new_type">Создать новый тип</option>
                    </select>
                </label>    
                <label class="report-settings__label" id="newTypeLabel" style="display: none;">
                    Новый тип:
                    <input class="input report-settings__input" type="text" id="newTypeInput">
                </label>
                <button class="btn  report-settings__btn" id="newTypeButton" type="button">Добавить новый тип</button>
            </div>
        </div>
        
        {% if types_subtypes %}
        <div class="report-settings__box">
            <h3 class="" >Типы протоколов текущего профиля:</h3>
            <br>
            <ul id="types-list" class="report-settings__list--types">
                {% for type in types_subtypes %}
                    <li class="flex report-settings__item report-settings__item--type" data-type-id="{{ type.type_id }}">
                        <input class="input report-settings__input report-settings__input--type" type="text" value="{{ type.type_text }}">
                        <button class="btn  report-settings__btn report-settings__btn--delete-type" type="button" name="delete_type_button" data-type-id="{{ type.type_id }}">Удалить</button>
                        <button class="btn  report-settings__btn report-settings__btn--edit-type" type="button" name="edit_type_button" data-type-id="{{ type.type_id }}">Сохранить изменения</button>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
            <h3>На данный момент для текущего профиля не было найдено ни одного ТИПА протокола. </h3>
                <p class="help-text">Для того чтобы иметь возможность создать протокол Вам нужно добавить хотя бы один тип. </p>
                <p class="help-text">Выше есть поле в котором Вы можете выбрать один из типов протоколов по умолчанию. </p>
                <p class="help-text">Выберите и добавьте те типы, которые соответствуют модальностям, 
                с которыми Вы планируете работать в рамках данного профиля.</p>
                <p class="help-text">Если нужного типа нет в списке, Вы можете создать новый тип,
                который будет доступен только в рамках данного профиля.
                Для этого выберите в списке выше "Создать новый тип" и затем введите название нового типа в поле которое появится ниже.
                После этого нажмите кнопку "Добавить новый тип".</p>
                <p class="help-text">Старайтесь по возможности придерживаться типов по умолчанию, так как под них разработаны готовые логические блоки.</p>
                <p class="help-text">Старайтесь не создавать лишних типов для профиля, так как это увеличит объем визуальной информации в интерфейсе и сделает работу менее удобной.</p>
        {% endif %}
        <br>
       
        
    </section>
    
    <!-- Добавление нового подтипа протокола -->
    <section class="section report-settings__section report-settings__section--subtypes">
        <div class="flex">
            <label class="report_label__item">
                Выберите тип для добавления подтипа:
                <select class="select report__select report-settings__select" id="reportTypes" required>
                    {% for type in types_subtypes %}
                        <option value="{{ type.type_id }}">{{ type.type_text }}</option>
                    {% endfor %}
                </select>
            </label>

            <div class="flex_column report-settings__wrapper" id="newSubtypeForm">
                <label class="report-settings__label">
                    Выберите подтип для добавления:
                    <select class="select report__select report-settings__select" id="reportSubtypesDefault">
                        {% for subtype in default_report_subtypes %}
                        <option value="{{ subtype }}">{{ subtype }}</option>
                        {% endfor %}
                        <option value="new_subtype">Создать новый подтип</option>
                    </select>
                </label>
                <label class="report-settings__label" id="newSubtypeLabel" style="display: none;">
                    Новый подтип:
                    <input class="input report-settings__input" type="text" id="newSubtypeInput">
                </label>
            </div>
            <button class="btn  report-settings__btn" id="newSubtypeButton" type="button">Добавить</button>
        </div>
        
        {% if has_subtypes %}
            <!--Список подтипов-->
            <ul id="subtypes-list" class="report-settings__list--types_subtypes">
                {% for type in types_subtypes %}
                    {% for subtype in type.subtypes  %}
                            <li class="flex report-settings__item report-settings__item--subtype" style="display: none;" data-type-id="{{ type.type_id }}">
                                <input class="input report_input__item" type="text" value="{{ type.type_text }}" readonly>
                                <input class="input report_input__item report-settings__input--subtype" type="text" value="{{ subtype.subtype_text }}">
                                <button class="btn  report-settings__btn--delete-subtype" type="button" data-subtype-id="{{ subtype.subtype_id }}">Удалить</button>
                                <button class="btn  report-settings__btn--edit-subtype" type="button" data-subtype-id="{{ subtype.subtype_id }}">Сохранить</button>
                            </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% else %}
            <!-- Если нет подтипов, то показываем сообщение -->
            <p class="help-text">На данный момент для текущего профиля не было найдено ни одного ПОДТИПА протокола. </p>
            <p class="help-text">Для того чтобы иметь возможность создать протокол Вам нужно добавить хотя бы один подтип. </p>
            <p class="help-text">Выше есть поле в котором Вы можете выбрать один из подтипов протоколов по умолчанию. </p>
            <p class="help-text">Выберите и добавьте те подтипы, которые кажутся Вам подходящими для Вашей работы или создайте новый подтип.</p>
            <p class="help-text"> В отличие от ТИПА, подтипы не так жестко привязаны к логическим блокам, и подтипы "по умолчанию", больше созданы для демонстрации возможной структуры наборов протоколов.</p>
        {% endif %}
    </section>
</div>

<!-- Загрузка файла -->
 {% if user_settings.USE_WORD_REPORTS %}
    <section class="section file-upload">
        <h3>Загрузка файлов</h3>
        <div class="report_borderline"></div>
        <p>Здесь вы можете загрузить файлы шаблона Word и картинку росписи для этого шаблона</p>
        <form id="file-upload-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input class="file-upload-input--file-upload" type="file" name="file" id="file-input" required>
            <div>
                <label>
                    <input class="file-upload-input-radio" type="radio" name="file_type" value="template" checked>
                    Загрузить шаблон для файлов Word
                </label>
                <label>
                    <input class="file-upload-input-radio" type="radio" name="file_type" value="signature">
                    Загрузить подпись
                </label>
            </div>
            <button class="file-upload-btn-submit" type="submit">Upload</button>
        </form>
        <div class="report_borderline"></div>
    </section>
 {% endif %}


{% endblock container %}

{% block scripts %}
<!-- Подключаем js файл для этой страницы -->
<script src="/static/js/report_settings.js"></script>
{% endblock scripts %}