{% extends "index.html" %}

{% block container %}
{{ super() }}
<div class="flex">
    <!-- Left side -->
    <div class="report_side__list">
        <ul class="report_paragraph__list" id="left-paragraph-list">
            {% for item in paragraph_data %}
                <li class="report__paragraph">
                    <p {% if item.paragraph.paragraph_visible %}class="report__paragraph--visible" {% else %}class="report__paragraph--invisible"{% endif %}>
                        {{ item.paragraph.paragraph }}
                    </p>
                    <ul class="">
                        <li class="">
                            {% if item.grouped_sentences %}
                                {% for index, sentences in item.grouped_sentences.items() %}
                                    {% if sentences|length == 1 %}
                                        <p class="report__sentence"> {{ sentences[0].sentence }} </p>
                                    {% else %}
                                        <select class="report__select" data-index="left-side-{{ item.paragraph.id }}-{{ index }}">
                                        {% for sentence in sentences %}
                                            <option value="{{ sentence.id }}" data-sentence="{{ sentence.sentence }}">{{ sentence.sentence }}</option>
                                        {% endfor %}
                                        </select>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </li>
                    </ul>
                    
                </li>
            {% endfor %}
        </ul>
    </div>
    

    <!-- Right side -->
    <div class="report_side__list report_side--right">
        <ul class="" id="right-paragraph-list">
            {% for item in paragraph_data %}
                <li class="report__paragraph">
                    <p {% if item.paragraph.paragraph_visible %}class="report__paragraph--visible" {% else %}class="report__paragraph--invisible"{% endif %}>
                        {{ item.paragraph.paragraph }}
                    </p>
                    <ul class="">
                        <li class="">
                            {% if item.grouped_sentences %}
                                {% for index, sentences in item.grouped_sentences.items() %}
                                    <span class="report__sentence" data-index="right-side-{{ item.paragraph.id }}-{{ index }}"> {{ sentences[0].sentence }} </span>
                                {% endfor %}
                            {% endif %}
                        </li>
                    </ul>
                    
                </li>
            {% endfor %}
        </ul>
        <!-- Button to copy text -->
        <button class="btn report__btn" id="copyButton">Copy Text</button>
    </div>
    
</div>



<script>
    document.getElementById("left-paragraph-list").addEventListener("change", function(event) {
        if (event.target.tagName === "SELECT") {
            var index = event.target.getAttribute("data-index");
            var selectedOption = event.target.selectedOptions[0];
            var selectedSentence = selectedOption.getAttribute("data-sentence");
            var correspondingIndex = index.replace("left-side", "right-side");
            var correspondingParagraph = document.querySelector('[data-index="' + correspondingIndex + '"]');
            correspondingParagraph.innerText = selectedSentence;
        }
    });

    document.getElementById("copyButton").addEventListener("click", function() {
        var rightParagraphList = document.getElementById("right-paragraph-list");
        var textToCopy = "";
        rightParagraphList.querySelectorAll("p").forEach(function(paragraph) {
            textToCopy += paragraph.innerText + "\n";
        });
        navigator.clipboard.writeText(textToCopy).then(function() {
            alert("Text copied to clipboard");
        }).catch(function(err) {
            console.error("Failed to copy text: ", err);
        });
    });
</script>

</script>

{% endblock container %}
