<!--welcome_page.html-->

{% extends "base.html" %}

{% block container %}

<h1>Добро пожаловать, {{ current_user.user_name }}!</h1>
    <p>Ваш профиль {{ g.current_profile.id }} был автоматически создан. Вы можете изменить его ниже.</p>

    <form method="POST" action="{{ url_for('profile_settings.update_profile_settings') }}">
        
        <input type="hidden" id="profile_id" name="profile_id" value="{{ g.current_profile.id }}">
        <div>
            <label for="profile_name">Имя профиля:</label>
            <input type="text" id="profile_name" name="profile_name" value="{{ g.current_profile.profile_name }}">
        </div>

        <div>
            <label for="description">Описание профиля:</label>
            <input type="text" id="description" name="description" value="{{ g.current_profile.description }}">
        </div>

        <button type="submit">Обновить профиль</button>
    </form>
{% endblock container %}

{% block scripts %}
{% endblock scripts %}