<!-- working_with_report.html-->

{% extends "base.html" %}


{% block container %}
{% import 'macros.html' as macros %}

<input type="hidden" data-report-id=" {{report_data.report.id}} " id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
<!-- Предзаполненная форма с ФИО и тд на странице протокола -->
{% if user_settings.USE_WORD_REPORTS %}
    <form class="flex" id="exportForm" data-report-type="{{ report_data.report.report_type }}" data-subtype="{{ report_data.report.report_subtype }}" data-comment="{{ report_data.report.comment }}" data-key-words="{{ key_words | tojson | safe }}">
        <div>
            <label for="patient-name">ФИО:</label>
            <input style="margin-right: 10px;" type="text" id="patient-name" name="patient_name" value="{{ full_name }}"readonly>
        </div>
        <div>
            <label for="patient-birthdate">Дата рождения:</label>
            <input style="margin-right: 10px;" type="date" id="patient-birthdate" name="patient_birthdate" value="{{ birthdate }}"readonly>
        </div>
        <div>
            <label for="report-number">Номер протокола:</label>
            <input style="margin-right: 10px;" type="text" id="report-number" name="report_number" value="{{ report_number }}"readonly>
        </div>

        <!-- Контейнер для поля выбора стороны, скрыт по умолчанию -->
        {% if report_data.report.report_side == True %}
        <div>
            <label for="report-side">Сторона:</label>
            <select id="report-side" name="report_side">
                <option value=""></option>
                <option value="right">Right</option>
                <option value="left">Left</option>
            </select>
        </div>
        {% endif %}

        <!-- Кнопка "Edit Form" -->
        <button class="icon-btn icon-btn--edit-form" type="button"
            style="background: url('{{ url_for('static', filename='pic/edit_button.svg') }}') no-repeat center center;"
            title="Edit Form">
        </button>

        <!-- Кнопка "Add Report" -->
        <button class="btn report__btn icon-btn--add-report" id="addReportButton" type="button"
        title="Add Report">
        + протокол
        </button>

        <!-- Кнопка "Next" -->
        <button class="btn report__btn icon-btn--next-report" id="nextPatientButton" type="button" 
        title="При нажатии на эту кнопку данные из формы будут отправлены на сервер и загружен следующий пациент">
            следующий пациент
        </button>
    </form>
{% endif %}

<div class="flex">
    
    <!-- Основной блок с отчетом -->
    <div class=" report-container">
        {% for paragraph in report_data.paragraphs  %}
            {% if paragraph.paragraph_type == "scanparam" or paragraph.paragraph_type == "custom" %}
                <ul class="initial-paragraph-list" id="initial-paragraph-list-{{ paragraph.id }}">
                    {{ macros.render_paragraph_and_sentence(paragraph) }}
                </ul>
            {% endif %}
            
            {% if paragraph.paragraph_type == "text" or paragraph.paragraph_type == "title" %}
                <ul class="core-paragraph-list" id="core-paragraph-list-{{ paragraph.id }}">
                    {{ macros.render_paragraph_and_sentence(paragraph) }}
                </ul>
            {% endif %}
            {% if paragraph.paragraph_type == "impression" %}
                <ul class="impression-paragraph-list" id="impression-paragraph-list-{{ paragraph.id }}">
                    {{ macros.render_paragraph_and_sentence(paragraph) }}
                </ul>
            {% endif %}
        {% endfor %}
        
        

        
        
        <!-- PopUp для отображения предложений после двойного клика -->
        <div id="popup" class="popup">
            <ul id="popupList"></ul>
        </div>

    </div> 
    
    <!-- Контейнер справа -->
    <div class="flex_column right-side-container">

        <!-- Кнопка для перехода к настройке текущего параграфа -->
        <a href="/editing_report/edit_report?report_id={{ report_data.report.id }}" target="_blank" class="btn report__btn push-down"
            title="Open this report for editing in new window">
            Редактировать протокол
        </a>

        <!-- Кнопки экспорта в Word копирования текста и генерации ИИ заключения -->
        <div class="flex_column">
            <button class="btn report__btn" id="copyButton">Копировать текст</button>
            {% if user_settings.USE_WORD_REPORTS %}
                <button class="btn report__btn" id="exportButton">Экспорт в Word</button>
            {% endif %}
            <button class="btn report__btn push-down" id="generateImpression">ИИ заключение</button>
        </div>

        <!-- Место вывода предложений для добавления -->
        <div  class="sentence_adding_reques-container" id="sentenceAddingRequestContainer">
            <p contenteditable="true" id="processedText"></p>
        </div>


        <!-- Место вывода ответа ИИ -->
        
        <div class="">
            <p>Ответ ИИ</p>
            <p contenteditable="true" class="" id="aiResponse"></p>
            <button class="btn report__btn" id="addImpressionToReportButton">Вставить заключение</button>
        </div>


    </div>
</div>

<!-- Контейнер для вывода отчета о добавлении новых предложений -->
<div class="flex_column" style="display: none;" id="bottomContainer">
    <h3>Отчет о добавлении предложений:</h3>
    <div class="" id="sentenceAddingReportContainer">
    </div>
</div>


{% endblock container %}
{% block scripts %}

<script>
    // Передаем ключевые слова как глобальную переменную JavaScript
    const keyWordsGroups = {{ key_words | tojson | safe }};
    const reportData = {{ report_data | tojson | safe }};
</script>
    
<script src="{{ url_for('static', filename='js/working_with_report.js') }}"></script>

{% endblock scripts %}
