
{% extends "base.html" %}


{% block container %}
{{ super() }}


<!-- Pre-filled form for the second page -->
<form class="flex" id="exportForm" data-report-type="{{ report_data.report.report_type }}" data-subtype="{{ report_data.report.report_subtype }}" data-comment="{{ report_data.report.comment }}" data-key-words="{{ key_words | tojson | safe }}">
    <div>
        <label for="patient-name">Name:</label>
        <input style="margin-right: 10px;" type="text" id="patient-name" name="patient_name" value="{{ full_name }}"readonly>
    </div>
    <div>
        <label for="patient-birthdate">Birthdate:</label>
        <input style="margin-right: 10px;" type="date" id="patient-birthdate" name="patient_birthdate" value="{{ birthdate }}"readonly>
    </div>
    <div>
        <label for="report-number">Report Number:</label>
        <input style="margin-right: 10px;" type="text" id="report-number" name="report_number" value="{{ report_number }}"readonly>
    </div>

    <!-- Контейнер для поля выбора стороны, скрыт по умолчанию -->
    {% if report_data.report.report_side == True %}
    <div>
        <label for="report-side">Side:</label>
        <select id="report-side" name="report_side">
            <option value=""></option>
            <option value="right">Right</option>
            <option value="left">Left</option>
        </select>
    </div>
    {% endif %}

    <!-- Кнопка "Edit Form" -->
    <button class="icon-btn icon-btn--edit-form" type="button"
        style="background: url('{{ url_for('static', filename='pic/edit_button.svg') }}') no-repeat center center;"
        title="Edit Form">
    </button>

    <!-- Кнопка "Add Report" -->
    <button class="btn report__btn icon-btn--add-report" type="button"
    title="Add Report">
    Add Report
    </button>

    <!-- Кнопка "Next" -->
    <button class="btn report__btn icon-btn--next-report" type="button" title="Next Report">
        Next
    </button>
</form>

<div class="flex">
    
    <!-- Right side -->
    <div class=" report_side--right">
        <ul class="" id="right-paragraph-list">
            {% for paragraph in report_data.paragraphs %}
                <li class="report__paragraph">
                    <p contenteditable="true" 
                    data-paragraph-id="{{ paragraph.id }}" 
                    data-title-paragraph="{{ paragraph.title_paragraph }}" 
                    data-bold-paragraph="{{ paragraph.bold_paragraph }}" 
                    data-visible-paragraph="{{ paragraph.paragraph_visible }}" 

                    class="paragraphTitle 
                    {% if paragraph.paragraph_visible %}report__paragraph--visible
                    {% if paragraph.bold_paragraph %} report__paragraph--bold{% endif %}
                    {% if paragraph.title_paragraph %} report__paragraph--title{% else %} report__paragraph--untitle{% endif %}
                    {% else %}report__paragraph--invisible{% endif %}"
                    >
                        {{ paragraph.paragraph }}
                    </p>
                    <ul class="">
                        <li class="">
                           
                            {% if paragraph.sentences %}
                                {% for index, sentence_group in paragraph.sentences.items() %}
                                    {% if sentence_group[0].index != 0 %}
                                        <span contenteditable="true"
                                            class="report__sentence sentence" 
                                            data-paragraph-id="{{ paragraph.id }}" 
                                            data-index="{{ index }}"
                                            data-id="{{ sentence_group[0].id }}"> 
                                            {{ sentence_group[0].sentence }} 
                                        </span>
                                        <!-- Кнопка "+" для добавления предложения -->
                                        <button class="icon-btn icon-btn--add-sentence" type="button" title="Add Sentence" data-paragraph-id="{{ paragraph.id }}">+</button>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <!-- Button to copy text -->
        <div class="">
            <button class="btn report__btn" id="copyButton">Copy Text</button>
            <button class="btn report__btn" id="exportButton">Export to Word</button>
            <button class="btn report__btn" id="generateImpression">Generate Impression</button>
        </div>

        <div class="">
            <p class="" id="aiResponse"></p>
        </div>
        
    </div> 
</div>
<div class="sentence_adding_reques-container" id="sentenceAddingRequestContainer">
    <!-- Здесь будет отображаться обработанный текст -->
    <p id="processedText"></p>
</div>
        <a href="/editing_report/edit_report?report_id={{ report_data.report.id }}" target="_blank" class="btn report__btn icon-btn--edit-paragraph"
            title="Open this report for editing in new window">
            Edit this report
        </a>

        <!-- Кружок с + для отображения дополнительных предложений -->
        <div id="plusCircle" class="plusCircle"></div>
        <div id="popup" class="popup">
            <ul id="popupList"></ul>
        </div>


{% endblock container %}
{% block scripts %}

<script>
    // Передаем ключевые слова как глобальную переменную JavaScript
    const keyWordsGroups = {{ key_words | tojson | safe }};
    const reportData = {{ report_data | tojson | safe }};
</script>
    
<script src="{{ url_for('static', filename='js/working_with_report.js') }}"></script>

{% endblock scripts %}
