<!--all_popups.html-->

{% macro buffer_popup() %}
<div id="bufferPopup" class="buffer-popup" style="display: none;">
    <div class="buffer-popup__header">
        <h3>Буфер обмена</h3>
        <button id="closeBufferPopup" class="btn-icon buffer-popup__btn--close" title="Закрыть">❌</button>
    </div>
    
    <div id="bufferContent" class="buffer-popup__content">
        <ul class="buffer-popup__list">
            <!-- Сюда будут добавляться элементы -->
             <li>Пусто</li>
        </ul>
        
    </div>

    <div class="buffer-popup__footer">
        <button id="clearBufferButton" class="btn" title="Очистить буфер">🗑️ Очистить</button>
        <button id="pasteAllBufferButton" class="btn" title="Вставить всё содержимое буфера, которое возможно в выбранное место в протоколе">📋 Вставить всё</button>
    </div>
</div>
{% endmacro %}



{% macro share_popup() %}
<!-- Попап для шаринга отчета по email -->
<div id="sharePopup" class="share-popup" style="display: none;">
    <div class="share-popup__content">
        <h3>Поделиться протоколом</h3>
        <input type="email" id="shareInput" placeholder="Введите email пользователя" class="share-popup__input">
        <button class="btn share-popup__btn" id="submitShareButton">Отправить</button>
        <p id="shareErrorMessage" class="share-popup__error" style="color: red; display: none;"></p>
        <button class="btn share-popup__btn--close" id="closeSharePopup">Закрыть</button>
    </div>
</div>
{% endmacro %}


{% macro unlink_group_popup() %}
<!-- Попап для управления связью группы предложении -->
<div id="lockPopup" class="sentence-popup lock-popup" 
    style="display: none; position: absolute; z-index: 1000;"
    >
    <p class="popup-str-button" id="unlinkGroupButton">🔗 Разорвать связь</p>
    <p class="popup-str-button" id="allowEditButton">✏️ Разрешить редактирование</p>
</div>
{% endmacro %}


{% macro sentence_popup() %}
    <!-- Попап с информацией о предложении -->
    <div id="sentencePopup" class="sentence-popup" style="display: none;">
        <div class="sentence-popup__info-box">
            <span class="sentence-popup__info-item"><strong>ID:</strong> <span id="popupSentenceId"></span></span>
            <span class="sentence-popup__info-item"><strong>Индекс:</strong> <span id="popupSentenceIndex"></span></span>
            <span class="sentence-popup__info-item"><strong>Комментарий:</strong> <span id="popupSentenceComment"></span></span>
            <span class="sentence-popup__info-item"><strong>Теги:</strong> <span id="popupSentenceTags"></span></span>
        </div>

            <p id="sentencePopupEditButton" class="popup-str-button">Редактировать</p>
            <p id="sentencePopupUnlinkButton" class="popup-str-button">Разорвать связь</p>

        <p id="closeSentencePopupButton" class="popup-str-button">Закрыть</p>
    </div>
{% endmacro %}


{% macro choose_profile_popup(profiles) %}
    <div class="choose-profile-popup" id="chooseProfilePopup" style="display: none;">
        <button class="choose-profile-popup__close" id="closeChooseProfilePopup" title="Закрыть">✖</button>
        {% if profiles and profiles|length > 1 %}
            <h3 class="choose-profile-popup__title">Выберите профиль</h3>
        {% endif %}
        <ul class="choose-profile-popup__list" id="profileList">
            <!-- Сюда будут динамически добавляться профили -->
            {% if not profiles %}
                <li class="choose-profile-popup__item">Нет доступных профилей</li>
            {% else %}
                {% for profile in profiles %}
                    <li class="choose-profile-popup__item" data-profile-id="{{ profile.id }}" {% if profile.is_active %}style="display: none;"{% endif %}>
                        <a href="{{ url_for("profile_settings.choosing_profile", profile_id=profile.id) }}" class="choose-profile-popup__text" id="profile_name_id_{{ profile.id }}">{{ profile.profile_name }}</a>
                        {% if profile.is_default %}
                            <span class="choose-profile-popup__active"> (по умолчанию)</span>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
            <li class="choose-profile-popup__item">
                <a href="{{ url_for("profile_settings.new_profile_creation")}}" class="choose-profile-popup__link">Создать новый профиль</a>
            </li>
        </ul>
    </div>
{% endmacro %}


{% macro category_edit_popup() %}
<div id="categoryEditPopup" class="popup-category-edit" style="display:none;">
    <button class="popup-category-edit__close" id="closeCategoryEditPopup" title="Закрыть">&times;</button>
    <h3 id="categoryEditPopupTitle">Редактировать категорию</h3>
    <label for="editCategoryName">Имя категории:</label>
    <input type="text" id="editCategoryName" class="input" />

    <label for="editCategoryGlobal">Глобальная категория:</label>
    <select id="editCategoryGlobal" class="select">
        <option value="">— &lt;глобальная категория&gt; —</option>
        <!-- Заполним через JS -->
    </select>

    <div class="popup-category-edit__actions">
        <button class="btn" id="saveCategoryEditBtn">Сохранить</button>
        <button class="btn btn-attention" id="deleteCategoryBtn">Удалить</button>
    </div>
</div>
{% endmacro %}
