<!--Это макрос с кнопками редактирования предолжений и 
параграфов в edit_report, edit_paragraph  и edit_head_sentence-->

{% macro control_buttons(object_id, object_type, related_id, text, report_modality, sentence_type=None, group_id=None) %}
    <div class="control-buttons"
        data-object-id="{{ object_id }}"
        data-object-type="{{ object_type }}"
        data-related-id="{{ related_id }}"
        data-text="{{ text }}"
        data-report-modality="{{ report_modality}}"
        {% if sentence_type %} data-sentence-type="{{ sentence_type }}" {% endif %}
        {% if group_id %} data-group-id="{{ group_id }}" {% endif %}
        
    >
        <!-- Кнопка редактировать -->
        {% if object_type == "paragraph" or (object_type == "sentence" and sentence_type == "head") %}
            <button class="btn-icon control-btn control-btn--edit" title="Редактировать этот объект (переход на другую страницу)">
                ✏️
            </button>
        {% endif %}
        <!-- Кнопка удалить -->
        <button class="btn-icon control-btn control-btn--delete" title="Удалить этот объект">
            ❌
        </button>
        <!-- Кнопка копировать в буфер параграф или предложение -->
        <button class="btn-icon control-btn control-btn--copy-to-buffer" title="Скопировать в буфер обмена предложение или параграф (для вставки в другие места)">
            🗒️
        </button>
        {% if object_type == "paragraph" or (object_type == "sentence" and sentence_type == "head") %}
        <!-- Кнопка удалить текущую группу -->
            <button class="btn-icon control-btn control-btn--unlink" 
            title="Удалить дочернюю группу у данного объекта (для параграфа удаляет и head и tail группы)"
            >
                ✂️
            </button>
        {% endif %}
       
    </div>
{% endmacro %}





{% macro info_icons(is_linked=False) %}
<div class="control-info-icons">
    {% if is_linked %}
        <span class="edit-sentence__links-icon--is-linked" title="Связано с другими группами">🔗</span>
    {% endif %}
</div>
{% endmacro %}