

{% macro text_area_and_drop_zone() %}
<textarea id="Textarea" class="dynamics-popup__textarea" placeholder="Вставьте текст предыдущего протокола сюда"></textarea>
<div id="DropZone" class="ai-generator__dropzone">
    <p>Перетащите файл (JPG/PNG/PDF) сюда<br>или вставьте скриншот из буфера (Ctrl+V)</p>
    <div id="DropZonePreview"></div>
    <div id="DropZoneButtonContainer">
        <button id="DropZoneButtonAdd" class="btn">Добавить файл</button>
        <button id="DropZoneButtonRecognize" class="btn">Распознать</button>
    </div>
</div>
{% endmacro %}