

{% macro text_area_and_drop_zone() %}
<textarea id="DropZoneTextarea" class="dynamics-popup__textarea" placeholder="Вставьте текст протокола сюда (Ctrl+V)"></textarea>
<div id="DropZone" class="ai-generator__dropzone">
    <p id="DropZoneInstructions">Перетащите файл (JPEG/PNG/PDF) сюда<br>или вставьте скриншот из буфера (Ctrl+V) или нажмите на кнопку "Добавить файл"</p>
    <div id="DropZonePreview"></div>
    <div id="DropZoneButtonContainer" class="flex_column">
        <div id="DropZoneCheckboxWrapper" class="flex">
            <input type="checkbox" id="DropZonePreparationCheckbox">
            <label for="DropZonePreparationCheckbox">Автоматически проводить очистку распознанного текста при помощи ИИ</label>
        </div>
        <div id="DropZoneButtonWrapper" class="flex">
            <button id="DropZoneButtonAdd" class="btn">Добавить файл</button>
            <input type="file" id="aiGeneratorFileInput" accept=".jpg,.jpeg,.png,.pdf,.tiff,.heic,.heif,.webp,.docx,.odt,.doc,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.oasis.opendocument.text,image/*" style="display: none;">
            <button id="DropZoneButtonRecognize" class="btn">Распознать</button>
            <button id="DropZoneButtonClear" class="btn btn-secondary">Очистить</button>
        </div>
    </div>
</div>
{% endmacro %}