<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Пароль успешно сброшен</title>
  </head>
    <body>
        <h2>Здравствуйте, {{ user.username }}!</h2>
        <p>Ваш пароль был успешно сброшен.</p>
        <p>Теперь вы можете войти в свою учетную запись с новым паролем.</p>
        <p>Если вы не запрашивали сброс пароля, пожалуйста, свяжитесь с нашей службой поддержки.</p>
        <hr>
        <p style="color: #888; font-size: 13px;">
        С уважением, команда Radiologary.<br>
        support@radiologary.com.
</html>
