<!--admin.html-->

{% extends "base.html" %}
{% block container %}
<input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
<h1>Welcome to Admin panel</h1>

<!-- Блок с поиском и правкой пользователя -->
<div class="user-management">
    <h2 class="user-management__title">Управление пользователями</h2>
    <!-- Удаление всех пользователей, кроме тех чьи id перечислены в списке -->
    <div class="user-management__delete">
        <h3>Массовое удаление пользователей</h3>
        <p>Внимание! Это действие удалит всех пользователей, кроме тех, чьи ID вы укажете ниже. Будьте осторожны!</p>
        <p>Введите ID пользователей, которых нужно сохранить (через запятую):</p>
        <input type="text" id="keep-user-ids" class="user-management__input">
        <button type="button" id="delete-users-button" class="btn user-management__button">Удалить пользователей</button>
    </div>
    
    <!-- Поиск пользователя -->
    <div class="user-management__search">
        <label for="search-user" class="user-management__label">Поиск пользователя:</label>
        <input type="text" id="search-user" class="user-management__input user-management__input--search" 
            placeholder="Введите имя или email или ID" required>
        <button type="button" id="search-user-button" class="btn  user-management__button user-management__button--search">
            Найти
        </button>
    </div>
    <!-- Результаты поиска -->
    <div class="user-management__results" id="user-results" style="display: none;">
        <h3>Результаты поиска</h3>
        <table class="user-management__table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Email</th>
                    <th>Текущая роль</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody id="user-results-body">
                <!-- Динамически заполняется -->
            </tbody>
        </table>
    </div>

    <!-- Детали выбранного пользователя -->
    <div class="user-management__details" id="user-details" style="display: none;">
        <h3>Детали пользователя</h3>
        <form>
            <input type="hidden" id="user-id">
            <div>
                <label for="user-name">Имя:</label>
                <input type="text" id="user-name">
            </div>
            <div>
                <label for="user-email">Email:</label>
                <input type="email" id="user-email">
            </div>
            <div>
                <label for="user-role">Роль:</label>
                <select id="user-role"></select>
            </div>
            <button type="button" id="save-user-button" class="btn">Сохранить изменения</button>
            <button type="button" id="delete-user-button" class="btn user-management__button--delete">Удалить пользователя</button>
        </form>
    </div>
            </div>

</div>


 <!-- Блок с таблицами базы данных-->
<div class="container flex">
    <div class="box admin-filters">
        <h2>Панель фильтров</h2>
        <!-- Основные таблицы -->
        {% if all_models %}
            <div class="admin-filters__form">
                <h3>Основные таблицы:</h3>
                {% for table, columns in all_models.items() %}
                    <ul class="admin-filters__list">
                        <!-- Чекбокс для названия таблицы -->
                        <li class="admin-filters__item">
                            <input type="checkbox" class="admin-filter__checkbox admin-filter__checkbox--table" 
                                   value="{{ table }}" id="table-{{ table }}">
                            <label for="table-{{ table }}" 
                                   class="admin-filters__label admin-filters__label--table">Таблица:   {{ table }}</label>
                        </li>
                        
                        <!-- Список полей, изначально скрыт -->
                        <div class="admin-filters__fields admin-filters__field--columns" id="fields-{{ table }}" style="display: none;">
                            {% for column in columns %}
                                <li class="admin-filters__item">
                                    <input type="checkbox" class="admin-filter__checkbox admin-filter__checkbox--column" 
                                           data-table="{{ table }}" value="{{ column }}" 
                                           id="column-{{ table }}-{{ column }}" checked>
                                    <label class="admin-filters__label admin-filters__label--column" 
                                           for="column-{{ table }}-{{ column }}">Поле:   {{ column }}</label>
                                </li>
                            {% endfor %}
                        </div>
                    </ul>
                {% endfor %}
            </div>
        {% else %}
            <p>Нет данных для отображения моделей</p>
        {% endif %}

        <!-- Ассоциативные таблицы -->
        {% if association_tables %}
            <div class="admin-filters__form">
                <h3>Ассоциативные таблицы:</h3>
                {% for table, columns in association_tables.items() %}
                    <ul class="admin-filters__list">
                        <li class="admin-filters__item">
                            <input type="checkbox" class="admin-filter__checkbox admin-filter__checkbox--table" 
                                   value="{{ table }}" id="table-{{ table }}"
                            <label for="table-{{ table }}" 
                                   class="admin-filters__label admin-filters__label--table">{{ table }}</label>
                        </li>
                        <div class="admin-filters__fields admin-filters__field--columns" id="fields-{{ table }}" style="display: none;">
                            {% for column in columns %}
                                <li class="admin-filters__item">
                                    <input type="checkbox" class="admin-filter__checkbox admin-filter__checkbox--column" 
                                           data-table="{{ table }}" value="{{ column }}" 
                                           id="column-{{ table }}-{{ column }}" checked>
                                    <label class="admin-filters__label admin-filters__label--column" 
                                           for="column-{{ table }}-{{ column }}">{{ column }}</label>
                                </li>
                            {% endfor %}
                        </div>
                    </ul>
                {% endfor %}
                
            </div>
        {% else %}
            <p>Нет данных для ассоциативных таблиц</p>
        {% endif %}

        <button type="button" class="btn  admin-filters__submit" id="sendSelectedData">Получить данные</button>

    </div>
    


    <div class="box">
        <h2>Данные таблиц</h2>
        <div class="container admin-data">
            <!--Динамически заполняется данными-->
        </div>
    </div>
</div>

<!-- Управление категориями (ReportCategory) -->
<div class="category-management">
    <h2>Управление категориями</h2>
    <button id="clearAllCategories" class="btn">Удалить все категории</button>

    <!-- Добавить категорию -->
    <form id="add-category-form" class="flex">
        <div class="flex_column">
            <label class="label" for="category-name">Название категории:</label>
            <input class="input" type="text" id="category-name" placeholder="Название категории" required>
        </div>
        <div class="flex_column">
            <label class="label" for="category-level">Уровень (level):</label>
            <input class="input" type="number" id="category-level" placeholder="Уровень (level)" value="1" min="1" required>
        </div>
        <div class="flex_column">
            <label class="label" for="parent-id">Родительская категория:</label>
            <select id="parent-id" class="select" disabled>
                <option value="">Нет родителя</option>
                <!-- Сюда опции будут добавлены через JS -->
            </select>
        </div>
        <button type="submit" class="btn">Добавить</button>
    </form>

    <!-- Таблица для отображения категорий -->
    <table id="category-table" class="admin-data__table-element">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Уровень</th>
                <th>Родитель</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            <!-- Динамически -->
        </tbody>
    </table>
</div>


<!-- Сделать все протоколы данного профиля общедоступными -->
<div class="make-public">
    <h2>Сделать все протоколы данного профиля общедоступными</h2>
    <button id="make-all-public" class="btn">Сделать общедоступными</button>
    <ul id="make-public-status" class="status-message">
        <!-- Сюда JS вставит сообщения о статусе -->
    </ul>
</div>

<!-- Поделиться всеми глобальными ключевыми словами данного профиля -->
<div class="share-keywords">
    <h2>Поделиться всеми глобальными ключевыми словами данного профиля</h2>
    <input type="email" id="share-keywords-input" placeholder="Введите email для отправки" required>
    <button id="share-keywords" class="btn">Поделиться ключевыми словами</button>
    <ul id="share-keywords-status" class="status-message">
        <!-- Сюда JS вставит сообщения о статусе -->
    </ul>


{% endblock container %}

{% block scripts %}
<script src="{{ url_for("static", filename="js/admin.js") }}"></script>
{% endblock scripts %}