<!-- choose_report.html -->

{% extends "base.html" %}

{% block container %}

<input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
<!-- Задаю переменную из user_settings -->
{% set categories = user_settings.CATEGORIES_SETUP or [] %}


<!-- Группа управления для выбора протокола -->

<div class="container choosing-report-block">
    <h3 class="choosing-report-block__title">Выбор шаблона протокола для работы</h3>

    <form class="flex" id="reportForm" method="POST">
        <div class="flex_column" id="reports-container">
            <label class="label" for="reportModality"> Модальность:</label>
            <select class="report__select" id="reportModality" name="report_modality" required>
                {% for modality in categories %}
                    <option value="{{ modality.id }}">{{ modality.name }}</option>
                {% endfor %}
            </select>
        </div>
    
        <div class="flex_column" id="reports-container">
            <label class="label" for="reportArea">Область исследования:</label>
            <select class="report__select" id="reportArea" required>
                    <!-- Подтипы будут динамически обновляться с помощью JS -->
            </select>
        </div>
        <button class="btn " type="button" id="select_report_modality_area" name="select_report_modality_area">Протоколы</button>
    </form>
    
    <div id="reportsListContainer">
        <!-- Здесь будут отображаться загруженные отчеты, код сформирую в js-->
    </div>
</div>





{% endblock container %}

{% block scripts %}

<!-- Подключаем js файл для этой страницы -->
<script src="/static/js/choose_report.js"></script>
{% endblock scripts %}