<!-- create_report.html -->

{% extends "base.html" %}

{% block container %}

<input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">

{% from "macros/elements.html" import text_area_and_drop_zone %}
{% from "macros/all_popups.html" import category_edit_popup %}

{{ category_edit_popup() }}

<!-- New report master -->
<div class="container">
    
    <!-- Fields for creating report -->
    <div class="flex report-creation__data-container">
        <div class="report-creation__data-block">
            <label class="label" for="reportName">Название протокола:</label>
            <input class="input" type="text" id="reportName" name="report_name" required>
        </div>
        <div class="report-creation__data-block">
            <label class="label" for="reportModality">Модальность:</label>
            <select class="select" id="reportModality" name="report_modality" required>
                {% for cat_1 in user_settings.CATEGORIES_SETUP %}
                <option value="{{ cat_1.id }}" data-modality-name="{{ cat_1.name }}" data-global-id="{{ cat_1.global_id }}">{{ cat_1.name }}</option>
                {% endfor %}
                <option value="new_modality">Создать новую модальность</option>
            </select>
        </div>
        <div class="report-creation__data-block">
            <label class="label" for="reportArea">Область исследования:</label>
            <select class="select" id="reportArea" name="report_area" required>
                <!-- option заполню в js-->
            </select>
        </div>
        <div class="report-creation__data-block">
            <label class="label" for="comment">Комментарий:</label>
            <input class="input" type="text" id="reportCreationComment" name="comment">
        </div>
        
        <!-- переключатель выбора стороны -->
        <div class="flex_column">
            <label class="label">Учитывать сторону:</label>
            <div class="flex_row">
                <input type="radio" id="report_side_yes" name="report_side" value="true" class="form-check-input">
                <label for="report_side_yes" class="form-check-label">Да</label>
                <input type="radio" id="report_side_no" name="report_side" value="false" class="form-check-input" checked>
                <label for="report_side_no" class="form-check-label">Нет</label>
            </div>
        </div>
    </div>
    
    <div class="flex report-creation__container--action-selection-wrapper">
        <!-- Селект для способа сохранения. тут выбирается selectedAction -->
        <div class="report-creation__container report-creation__container--action">
            <label class="label">Выберите способ создания протокола:</label>
            
            <div class="flex_column report-creation__radio-group" id="reportCreationActionGroup">
                <label class="label">
                    <input type="radio" name="action" value="manual" checked title="Тут вы сможете ввести текст протокола вручную.">
                    Вручную.
                    
                </label>
                <label class="label" title="Тут вы сможете загрузить файл с протоколом.">
                    <input type="radio" name="action" value="file">
                    Из файла.
                </label>
                <label class="label" title="Тут вы сможете выбрать один из существующих протоколов.">
                    <input type="radio" name="action" value="existing_few">
                    Из существующих протоколов.
                </label>
                <label class="label" title="Тут вы сможете выбрать один из shared протоколов.">
                    <input type="radio" name="action" value="shared">
                    Из shared протоколов.
                </label>
                <label class="label" title="Тут вы сможете выбрать один из общедоступных протоколов.">
                    <input type="radio" name="action" value="public">   
                    Из общедоступных протоколов.
                </label>
                {% if user_max_rank == 4 %}
                <label class="label" title="Тут вы сможете сгенерировать протокол с помощью ИИ.">
                    <input type="radio" name="action" value="ai_generator">
                    ИИ генерация.
                </label>
                {% endif %}
            </div>
        
            <button class="btn " id="createReportButton" type="button" name="report_creation">Создать протокол</button>
        </div>
        
        <div class="report-creation__container report-creation__container--selection">
            <!-- Поле для ввода текста протокола вручную -->
            <div id="manualReportCreationContainer" class="report-creation__container--manual" style="display: none;">
                <p>Создание протокола вручную параграф за параграфом, предложение за предложением.</p>
            </div>

            <form id="reportCreationForm" class="flex_column" enctype="multipart/form-data" style="display: none;">
                <label class="label" for="report_file">Загрузить файл с протоколом:</label>
                <input class="report_input__item form-control" type="file" id="report_file" name="report_file" accept=".doc, .docx">

                <pre style="font-size: 12px; width: 800px; margin-top: 20px;"> 
                Инструкция по подготовке текста в Word для создания шаблона:
                Чтобы создать шаблон с помощью программы, необходимо правильно подготовить текст в документе Word. 
                Следуйте этой инструкции, чтобы программа корректно обработала ваш документ:

                Каждый новый раздел документа начинается с заголовка. Заголовок должен быть выделен жирным шрифтом.
                После заголовка идет обычный текст параграфа, который программа разделит на предложения автоматически.

                Каждое новое ГЛАВНОЕ предложение должно начинаться с новой строки.

                Если нужно добавить к предложению несколько вариантов (альтернатив), используйте два 
                восклицательных знака -!!. До и после !! должен быть пробел.
                Программа добавит предложения после !! в выпадающий список того предложения, которое идет первым на 
                данной строке.
                Пример: "Это первое предложение. !! Альтернативное предложение." Программа воспримет 
                это как два связанных предложения."Это первое предложение." - будет основным, а "Альтернативное 
                предложение." - в выпадающем списке.

                Теперь вы знаете, как подготовить документ Word для создания шаблона. Правильно отформатируйте ваш текст, 
                и программа автоматически обработает его, создавая удобный шаблон!
                </pre>
            </form>
        
            <div class="report-creation_filtered-list">
                <!-- Поле для поиска по словам -->
                <div id="reportSearchContainer" style="display: none;">
                    <label class="label">Начните вводить текст для быстрого поиска:</label>
                    <input type="text" id="reportSearchInput" class="input report-creation__input" placeholder="Введите текст для поиска...">
                </div>

                <!-- Список существующих отчетов -->
                <div class="existing-fewreports" id="existingReportContainer" style="display: none;">
                    <h3 class="existing-fewreports__title">Выберите протокол из существующих (можно выбрать несколько протоколов и сделать на их основе один новый):</h3>
                    <br>
                    <ul class="existing-fewreports__list" id="existingReportList">
                        <!-- Список будет заполнен динамически через JS -->
                    </ul>
                </div>
                <!-- Список shared протоколов -->
                <div id="sharedReportContainer" style="display: none;">
                    <h3>Shared протоколы</h3>
                    <ul id="sharedReportList" class="existing-fewreports__list">
                        <!-- Список будет заполнен динамически через JS -->
                    </ul>
                </div>
                <!-- Список общедоступных протоколов -->
                <div id="publicReportContainer" style="display: none;">
                    <h3>Список общедоступных протоколов</h3>
                    <ul id="publicReportList" class="public-reports__list">
                
                        <!-- Список будет заполнен динамически через JS -->
                    </ul>
                </div>
            </div>

            <div id="aiGeneratorContainer" class="ai-generator__container" style="display: none;">
                <h3 class="">ИИ генерация протокола</h3>
                <div class="flex">
                    {{ text_area_and_drop_zone() }}
                </div>
                <div id="aiGeneratorProgressBarContainer" class="dynamics-popup__progress-bar-container" style="display: none;">
                    <p>Прогресс:</p>
                    <!-- Прогресс бар будет вставляться динамически через JS -->
                </div>

                <div class="dynamics-popup__footer"> <!-- Согласовать со стилями попап в working_with_report.html -->
                    <div class="dynamics-popup__actions">
                        <button class="btn" id="aiGeneratorPasteButton">Вставить из буфера</button>
                        <button class="btn" id="aiGeneratorUploadButton">Загрузить файл</button>
                        <button class="btn" id="aiGeneratorPrepareButton">Подготовить текст</button>
                        <button class="btn" id="aiGeneratorGenerateButton">Сгенерировать шаблон</button>
                    </div>
                    <div class="dynamics-popup__actions">
                        <button class="btn" id="aiGeneratorCancelButton">Отменить</button>
                    </div>
                </div>
                <input type="file" id="aiGeneratorFileInput" accept=".jpg,.jpeg,.png,.pdf,image/*,application/pdf" style="display: none;">
            </div>
            
        </div>
    </div>


</div>








{% endblock container %}

{% block scripts %}
    <script>
        const globalCategories = {{ global_categories|tojson | safe }};
    </script>
    <script type="module" src="{{ url_for('static', filename='js/new_report_creation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils/textFiltrator.js') }}"></script>
{% endblock scripts %}

