<!-- index.html -->

{% extends "base.html" %}

{% block container %}
<input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">


<div class="container">
    <div id="wizard-progress">
        <div class="progress-bar" style="width: 20%;">
            <span class="progress-bar__label">Шаг 1 из 5</span>
        </div>
    </div>

    <!-- Шаг 1 -->
    <div id="step-1" class="creation-profile__step">
        <!-- Имя и описание профиля -->
        <h3>Шаг 1: Название профиля</h3 >
        {% if user_profile %}
            <p>Вы редактируете профиль</p>
            <div class="creation-profile__block">
                <label for="profileName">Название профиля:</label>
                <input type="text" id="profile-name" name="profile_name" class="input" value="{{ user_profile.profile_name }}" readonly data-profile-id="{{ user_profile.id }}">
            </div>
            <div class="creation-profile__block">
                <label for="profileDescription">Описание:</label>
                <textarea id="profile-desc" name="description" class="textarea" readonly>{{ user_profile.description }}</textarea>
            </div>
        {% else %}
            <p>Пожалуйста, введите название профиля это обязательный шаг. Описание профиля можно оставить пустым, но оно поможет лучше понять его назначение если вы планируете несколько профилей.</p>
            <div class="creation-profile__block">
                <label for="profileName">Название профиля:</label>
                <input type="text" id="profile-name" name="profile_name" class="input" required placeholder="Введите имя профиля" minlength="3" maxlength="50">
            </div>
            <div class="creation-profile__block">
                <label for="profileDescription">Описание:</label>
                <textarea id="profile-desc" name="description" class="textarea"></textarea>
            </div>
        {% endif %}
        <button type="button" class="btn btn-primary" id="to-step-2">Далее</button>
    </div>

    <!-- Шаг 2 -->
    <div id="step-2" class="creation-profile__step hide">
        <!-- Чекбокс профиля по умолчанию -->
        <h3>Шаг 2: Установка профиля "по умолчанию"</h3>
        {% if user_profile %}
            <p>Вы редактируете существующий профиль. Установка профиля по умолчанию не требуется.</p>
            <div class="creation-profile__block">
                <label for="isDefault">Профиль по умолчанию?</label>
                <input type="checkbox" id="isDefault" name="is_default" class="checkbox" {% if user_profile.default_profile %}checked{% endif %} readonly></input>
            </div>
        {% else %}
            <div class="creation-profile__block">
                <label for="isDefault">Сделать этот профиль, профилем по умолчанию?</label>
                <input type="checkbox" id="isDefault" name="is_default" class="checkbox"></input>
            </div>
        {% endif %}
        <div class="flex">
            <button type="button" class="btn btn-secondary" id="back-to-1">Назад</button>
            <button type="button" class="btn btn-primary" id="to-step-3">Далее</button>
        </div>
    </div>

    <!-- Шаг 3 -->
    <div id="step-3" class="creation-profile__step hide">
        <!-- Чекбоксы модальностей -->
        <h3>Шаг 3: Выбор модальностей</h3>
        
        <p> Выберите модальности, которые будут доступны в этом профиле.</p>
        {% if modalities %}
            <ul id="globalModalities">
            {% for modality in modalities %}
                <li class="creation-profile__modalities-item">
                    <label>
                        {{ modality.name }}
                        {% if modality.global_name %}
                            <span class="modality-global-name">(глобальное: {{ modality.global_name }})</span>
                        {% endif %}
                    </label>
                    <input class="checkbox" type="checkbox" name="modalities" value="{{ modality.id }}">
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Нет доступных модальностей для выбора.</p>
        {% endif %}
        <div class="flex">
            <button type="button" class="btn btn-secondary" id="back-to-2">Назад</button>
            <button type="button" class="btn btn-primary" id="to-step-4">Далее</button>
        </div>
    </div>

    <!-- Шаг 4 -->
    <div id="step-4" class="creation-profile__step hide">
        <!-- Чекбоксы областей для выбранных модальностей -->
        <h3>Шаг 4: Выбор областей исследования</h3>
        
        <p>Выберите области для выбранных модальностей.</p>
        <p>По умолчанию будут выбраны все области для которых есть предустановленные шаблоны. Если какие-то области не нужны, просто снимите с них галочки.</p>
        <br>
        <p>Позже вы сможете настроить области в настройках профиля.</p>
        <div id="areasContainer" class="flex">
            <!-- буду заполнять через JavaScript -->
        </div>

        <div class="flex">
            <button type="button" class="btn btn-secondary" id="back-to-3">Назад</button>
            <button type="button" class="btn btn-primary" id="to-step-5">Далее</button>
        </div>
    </div>

    <!-- Шаг 5 -->
    <div id="step-5" class="creation-profile__step hide">
        <!-- Согласие с правилами -->
        <h3>Шаг 5: Согласие с правилами</h3>
        {% if user_profile %}
            <p>Вы редактируете существующий профиль. Согласие с правилами не требуется.</p>
            <input type="checkbox" id="agreeRules" name="agree_rules" style="display: none;" checked>
        {% else %}
            <p>Пожалуйста, ознакомьтесь с правилами использования:</p>
            <br>
            <p> Правила </p>
            <br>
            <label>
            <input type="checkbox" id="agreeRules" name="agree_rules" class="checkbox" required>
            Я прочитал(а) правила использования и согласен(на) с ними.
            </label>
        {% endif %}
            <br>
        <p>После создания профиля, вы сможете настроить его в разделе "Настройки профиля"</p>
        <br>
        <div class="flex">
            <button type="button" class="btn btn-secondary" id="back-to-4">Назад</button>
            <button type="button" class="btn btn-primary" id="finish-wizard">Создать профиль</button>
        </div>
    </div>
</div>



{% endblock container %}



{% block scripts %}
<script>
   window.globalModalitiesTree = {{ modalities|tojson }};
</script>
<script src="{{ url_for('static', filename='js/new_profile_creation.js') }}"></script>

{% endblock scripts %}