<!-- profile_settings.html -->
{% extends "base.html" %}

{% block container %}

<input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">

    <!-- Блок глобальных настроек самого профиля -->
    <div class="profile-settings-block">
        <h3 class="profile-settings-block__title">Настройки профиля</h3>
        <div class="profile-settings-block__container">
            <ul class="profile-settings-block__list" data-profile-id="{{ profile.id }}" id="profileSettingBlock">
                <li class="profile-settings-block__item">
                    <label class="profile-settings-block__label" for="profile_name">Название профиля:</label>
                    <input class="profile-settings-block__input" type="text" id="profileName" name="profile_name" value="{{ profile.profile_name }}" required>
                </li>
                <li class="profile-settings-block__item">
                    <label class="profile-settings-block__label" for="description">Описание профиля:</label>
                    <textarea class="profile-settings-block__textarea" id="profileDescription" name="description">{{ profile.description }}</textarea>
                </li>
                <li class="profile-settings-block__item">
                    <label class="profile-settings-block__label" for="userName">Имя пользователя:</label>
                    <input type="text" class="profile-settings-block__select" id="userName" value="{{ profile.username }}" name="userName">
                </li>
                <br>
                <li class="profile-settings-block__item">
                    <label class="profile-settings-block__label" for="userEmail">Электронная почта:</label>
                    <input
                        type="email"
                        class="profile-settings-block__select"
                        id="userEmail"
                        value="{{ current_user.email }}"
                        name="userEmail"
                        readonly
                        style="background:#f3f3f3;"
                    >
                    <a href="/change-email" class="btn " id="changeEmailBtn" style="margin-left: 10px;">
                        Изменить
                    </a>
                </li>
                <br>
                <li class="profile-settings-block__item">
                    <label class="profile-settings-block__label" for="default_profile">Профиль по умолчанию:</label>
                    <input class="profile-settings-block__input" type="checkbox" id="isDefauleProfile" name="default_profile" {% if profile.default_profile %} checked {% endif %}>
                </li>
            </ul>
            <div class="profile-setting-block__wrapper--buttons">
                <button class="btn  profile-settings-block__btn" id="saveSettingProfile" type="button">Сохранить изменения</button>
                <button class="btn  profile-settings-block__btn" id="deleteProfile" type="button">Удалить профиль</button>
                <button class="btn  profile-settings-block__btn" id="shareProfileButton" type="button">Поделиться профилем</button>
                <div class="profile-settings-block__share-email-block" id="shareProfileEmailBlock" style="display: none;">
                    <input type="email" id="shareEmailInput" placeholder="Введите email" class="share-popup__input">
                    <button class="btn profile-settings-block__btn" type="button" id="submitShareProfileButton">Отправить</button>
                </div>
            </div>
        </div>
    </div>
    


    <!-- Блок настроек для сохранения настроек профиля в БД -->
     <!-- Имя инпута должно обязательно совпадать с ключом настройки 
      в DEFAULT_PROFILE_SETTINGS в config.py  -->
    {% if user_max_rank > 2 %}
    <div class="flex container">
        <div class="settings-block">
            <h3 class="settings-block__title">Настройки</h3>
            <br>
            <ul class="settings-block__list" id="settings-block">
                <li class="settings-block__item">
                    <label class="label" for="useWordReports">Использовать выгрузку протокола в word</label>
                    <input class="checkbox" type="checkbox" id="useWordReports" name="USE_WORD_REPORTS"
                        {% if user_settings.USE_WORD_REPORTS %} checked {% endif %}>
                </li>
                <li class="settings-block__item">
                    <label class="label" for="useSentenceAutosaveForDynamicReport">Использовать автосохранение новых предложений при использовании динамического протокола</label>
                    <input class="checkbox" type="checkbox" id="useSentenceAutosaveForDynamicReport" name="USE_SENTENCE_AUTOSAVE_FOR_DYNAMIC_REPORT"
                        {% if user_settings.USE_SENTENCE_AUTOSAVE_FOR_DYNAMIC_REPORT %} checked {% endif %}>
                </li>
                <li class="settings-block__item">
                    <label class="label" for="useSentenceAutosave">Использовать автосохранение новых предложений</label>
                    <input class="checkbox" type="checkbox" id="useSentenceAutosave" name="USE_SENTENCE_AUTOSAVE"
                        {% if user_settings.USE_SENTENCE_AUTOSAVE %} checked {% endif %}>
                </li>
                <li class="settings-block__item">
                    <label class="label" for="appLanguage">Язык приложения:</label>
                    <select class="select" id="appLanguage" name="APP_LANGUAGE">
                        <option value="ru" {% if user_settings.APP_LANGUAGE == 'ru' %}selected{% endif %}>русский</option>
                        <option value="eng" {% if user_settings.APP_LANGUAGE == 'eng' %}selected{% endif %}>английский</option>
                    </select>
                </li>
                <li class="settings-block__item">
                    <label class="label" for="appTheme">Theme:</label>
                    <select class="select" id="appTheme" name="APP_THEME">
                        <option value="light" {% if user_settings.APP_THEME == 'light' %}selected{% endif %}>Light</option>
                        <option value="dark" {% if user_settings.APP_THEME == 'dark' %}selected{% endif %}>Dark</option>
                    </select>
                </li>
                <li class="settings-block__item">
                    <label class="label" for="similarityThesholdFuzz">Порог схождения для поиска дубликатов предложений:</label>
                    <input class="select" id="similarityThesholdFuzz" name="SIMILARITY_THRESHOLD_FUZZ" value="{{ user_settings.SIMILARITY_THRESHOLD_FUZZ }}">
                    
                </li>
                <li class="settings-block__item">
                    <label class="label" for="exceptWords">Слова исключения для фильтрации текста:</label>
                    <input type="text" class="input" id="exceptWords" name="EXCEPT_WORDS" value="{{ user_settings.EXCEPT_WORDS }}">
                   
                </li>
                <li class="settings-block__item">
                    <label class="label" for="exceptionsAfterPunctuation">Слова исключения аббревиатуры:</label>
                    <input type="text" class="input" id="exceptionsAfterPunctuation" name="EXCEPTIONS_AFTER_PUNCTUATION" value="{{ user_settings.EXCEPTIONS_AFTER_PUNCTUATION }}">
                    
                </li>
                <li class="settings-block__item">
                    <label class="label" for="categoriesSetup">Список категорий пользователя:</label>
                    <input class="input" type="text" id="categoriesSetup" name="CATEGORIES_SETUP"
                        value="{{ user_settings.CATEGORIES_SETUP | tojson | safe }}">

                <li><h3>Пожалуйста не трогайте настройки выше. Ниже можно.</h3></li>
                
                <li class="settings-block__item">
                    <label class="label" for="useSentenceAICheckDefault">Использовать AI проверку предложений по умолчанию</label>
                    <input class="checkbox" type="checkbox" id="useSentenceAICheckDefault" name="USE_SENTENCE_AI_CHECK_DEFAULT"
                        {% if user_settings.USE_SENTENCE_AI_CHECK_DEFAULT %} checked {% endif %}>
                        
                </li>
                <li class="settings-block__item">
                    <label class="label" for="useFirstGrammaSentenceDefault">Использовать автоматическую проверку предложений в браузере по умолчанию</label>
                    <input class="checkbox" type="checkbox" id="useFirstGrammaSentenceDefault" name="USE_FIRST_GRAMMA_SENTENCE_DEFAULT"
                        {% if user_settings.USE_FIRST_GRAMMA_SENTENCE_DEFAULT %} checked {% endif %}>
                        
                </li>
                <li class="settings-block__item">
                    <label class="label" for="useDublicateSearchDefault">Использовать поиск дубликатов по умолчанию</label>
                    <input class="checkbox" type="checkbox" id="useDublicateSearchDefault" name="USE_DUBLICATE_SEARCH_DEFAULT"
                        {% if user_settings.USE_DUBLICATE_SEARCH_DEFAULT %} checked {% endif %}>
                        
                </li>
            </ul>
            <br>
            <br>
            <span>--------------------------------------------------------------</span><br>
            <button class="btn  settings-block__btn" type="button" id="saveSettings">Сохранить</button>
        </div>
        
        <!-- Временный блок визуализации настроек -->
        <div class="settings-block">
            {% if user_settings %}
                <ul>
                    {% for key, value in user_settings.items() %}
        
                        <li class="flex">
                            <p>{{ key }}: </p> <p>{{ value }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Настройки не найдены</p>
            {% endif %}
        </div>
    </div>
    {% else %}
    <p>У вас недостаточно прав для изменения настроек профиля (временная блокировка).</p>
    {% endif %}
    

    <!-- Блок различных чекеров -->
     {% if user_max_rank == 4 %}
    <div class="report-check">
        <div class="report-check__buttons-block">
            <h3 class="report-check_title">Различные глобальные проверки профиля</h3>
            <p> Нет доступных проверок</p>
            <button class"btn  report-check__btn" id="startCheckersButton">Запуск проверок </button>
        </div>
        
    </div>
    {% else %}
    <p>У вас недостаточно прав для запуска проверок профиля (временная блокировка).</p>
    {% endif %}
    

{% endblock container %}


{% block scripts %}

<script src="{{ url_for('static', filename='js/profile_settings.js') }}"></script>

{% endblock scripts %}
