<!--sentences_adding_report_snippet.html--> 
<!--Использую для вывода отчета об автоматически 
добавленных предложениях в working_with_report.html. 
Генерирую его в маршруте и потом отправляю как вложение в ответе сервера-->

<div>
    <p><strong>{{ message }}</strong></p>
    <p></p>
    <ul>
        <li>Сохраненные предложения: {{ saved_count }}</li>
        <li>Дубликаты: {{ duplicates_count }}</li>
        <li>Разница между общим количеством предложений и добавленными: {{ skipped_count }}</li>
        <li>Ошибки сохранения: {{ missed_count }}</li>
        <li>Ошибки логики сравнения: {{ errors_count }}</li>
    </ul>

    {% if saved_sentences %}
        <h4>Сохраненные предложения:</h4>
        <ul>
        {% for sentence in saved_sentences %}
            <li class="train-sentence__item">
                <label>
                    <input type="checkbox" class="train-sentence__checkbox"  data-id="{{ sentence.id }}" data-text="{{ sentence.text }}">
                    {{ sentence.text }} (ID: {{ sentence.id }}) (ID группы: {{sentence.related_id}}) (Тип предложения: {{ sentence.sentence_type }})<br>
                    <button class="btn  train-sentence__btn--delete" data-id="{{ sentence.id }}" data-text="{{ sentence.text }}" data-related-id="{{sentence.related_id}}" data-sentence-type="{{ sentence.sentence_type }}">❌ Удалить</button>
                </label>
                
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if duplicates %}
        <h4>Дубликаты:</h4>
        <ul>
        {% for duplicate in duplicates %}
            <li>
                Отправленное предложение: <strong>{{ duplicate.new_sentence.text }}</strong><br>
                совпадает с имеющимся предложением: <strong>{{ duplicate.matched_with.text }}</strong><br>
                на <strong>{{ duplicate.similarity_rapidfuzz }}</strong> %.
               
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
