


{% extends "base.html" %}


{% block container %}
<!-- Передаем csrf_token как скрытое поле формы -->
<input type="hidden" data-report-id=" {{report_data.id}} " id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">

{% from "macros/all_popups.html" import dynamics_popup %}
{% from "macros/elements.html" import progress_bar, text_area_and_drop_zone %}


<!-- Сам протокол -->
<div class="flex">
    <!-- Основной блок с отчетом -->
    <div class="container left-side-container">
        {% if paragraphs_data %}
            <!-- Уровень параграфа -->
            <ul class="paragraph__list">
                {% for paragraph in paragraphs_data  %}
                    <!-- Устанавливаю классы параграфов в зависимости от типа и установки различных флагов-->
                    <li class="paragraph__item
                        {% if paragraph.is_impression %}
                        paragraph__item--impression
                        {% else %}
                        paragraph__item--core
                        {% endif %}
                        {% if not paragraph.is_active %}
                        paragraph__item--inactive
                        {% endif %}
                        "
                        data-paragraph-id="{{ paragraph.id }}"
                        >
                        
                        <!-- Вставляю строку если есть соответствующий флаг -->
                        {% if paragraph.str_before or paragraph.is_impression%}
                            <br>
                        {% endif %}

                        <p contenteditable="true" 
                            data-paragraph-id="{{ paragraph.id }}" 
                            data-title-paragraph="{{ paragraph.title_paragraph }}" 
                            data-bold-paragraph="{{ paragraph.bold_paragraph }}" 
                            data-visible-paragraph="{{ paragraph.paragraph_visible }}"
                            data-paragraph-index="{{ paragraph.index }}"
                            data-paragraph-comment="{{ paragraph.comment }}"
                            data-paragraph-tags="{{ paragraph.tags }}"
                            data-paragraph-weight="{{ paragraph.weight }}" 
                            data-paragraph-str-before="{{ paragraph.str_before }}"
                            data-paragraph-str-after="{{ paragraph.str_after }}"

                            style="display:
                            {% if paragraph.paragraph_visible and paragraph.is_active %}
                                {% if paragraph.title_paragraph %}
                                    block
                                {% else %}
                                    inline
                                {% endif %}
                            {% else %}
                            none
                            {% endif %};"
                            class="paragraph__text 
                            {% if paragraph.bold_paragraph %} 
                                paragraph__text--bold   
                            {% endif %}
                            ">

                            

                            {{ paragraph.paragraph }}
                        </p>
                        <!-- Вставляю строку если есть соответствующий флаг -->
                        {% if paragraph.str_after %}
                            <br>
                            {% endif %}

                        <!-- Уровень предложения -->
                        <ul class="" {% if not paragraph.paragraph_title %}style="display: inline;"{% endif %}>
                            <li class="" {% if not paragraph.paragraph_title %}style="display: inline;"{% endif %}>
                                {% if paragraph.head_sentences %}
                                    {% for head_sentence in paragraph.head_sentences %}
                                        
                                            <span contenteditable="true"
                                                {% if not paragraph.is_active %}
                                                style="display: none;"
                                                {% endif %}
                                                
                                                class="report__sentence sentence" 
                                                data-paragraph-id="{{ paragraph.id }}" 
                                                data-index="{{ head_sentence.sentence_index }}"
                                                data-id="{{ head_sentence.id }}"
                                                data-sentence-type="head"
                                                data-paragraph-additional="{{ paragraph.is_additional }}"
                                                > 
                                            {{ head_sentence.sentence }} 
                                            </span>
                                            <!-- Кнопка "+" для добавления предложения -->
                                            <button class="icon-btn icon-btn--add-sentence" type="button" title="Add Sentence">+</button>
                                        
                                    {% endfor %}
                                {% endif %}
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        
        <!-- PopUp для отображения предложений после двойного клика -->
        <div id="popup" class="popup">
            <ul id="popupList"></ul>
        </div>

    </div> 
    
    <!-- Контейнер справа -->
    <div class="flex_column right-side-container report-controlpanel">

        <!-- Кнопка для перехода к настройке текущего параграфа -->
        <a href="/editing_report/edit_report?report_id={{ report_data.id }}" target="_blank" class="btn"
            title="Открывает этот протокол в новом окне" id="editReportButton">
            Редактировать протокол
        </a>
        <br>
        {% if user_max_rank == 4 %}
            <button class="btn" id="dynamicReportButton">Динамика</button>
        {% endif %}
        <button class="btn" id="showPrevReportButton" style="display: none;">Показать предыдущий протокол</button>


        <ul class="report-controlpanel__inactive-paragraphs-list" id="inactiveParagraphsList">
            <h3 title="Параграфы, которые не участвуют в формировании заключения. Можно активировать нажав на имя параграфа">
                Неактивные параграфы:
            </h3>
            {% for paragraph in paragraphs_data  %}
                {% if not paragraph.is_active %}
                <li class="report-controlpanel__inactive-paragraphs-item" data-paragraph-id="{{ paragraph.id }}"> 
                    <span title="{{ paragraph.comment }}">{{ paragraph.paragraph }}</span> 
                </li>
                {% endif %}       
            {% endfor %}
            <br>
            <br>
        </ul>
       
        <!-- Кнопки экспорта в Word копирования текста и генерации ИИ заключения -->
        <div class="flex_column">
            <button class="btn " id="copyButton">Копировать текст</button>
            {% if user_settings.USE_WORD_REPORTS %}
                <button class="btn " id="exportButton">Экспорт в Word</button>
            {% endif %}
            <button class="btn" id="generateImpression">ИИ заключение</button>
            <br>
            <br>
        </div>


        <!-- Место вывода ответа ИИ -->
        
        <div class="flex_column">
            <p contenteditable="true" class="ai-response-block" id="aiImpressionResponseBlock" style="display: none;"></p>
            <p class="ai-response-block" id="aiRedactorResponseBlock" style="display: none;"></p>
            <p class="ai-response-block" id="aiDynamicBlock" style="display: none;"></p>
            
            <button class="btn " id="addImpressionToReportButton" style="display: none;">Вставить заключение</button>
        </div>
        
        <button class="btn " id="aiReportCheck">Проверить протокол ИИ</button>
        <button class="btn " id="finishWork">Завершить</button>

    </div>
</div>

<!-- Контейнер для вывода отчета о добавлении новых предложений -->
<div class="flex_column" style="display: none;" id="bottomContainer">
    <h3>Отчет о добавлении предложений:</h3>
    <div class="" id="sentenceAddingReportContainer">
    </div>
</div>

<!-- Попап для работы с динамикой -->
<div id="dynamicsPopup" class="dynamics-popup" style="display: none;">
    <h3 class="dynamics-popup__title">Анализ динамики</h3>
    <div class="flex">
        {{ text_area_and_drop_zone() }}
    </div>
    <div class="dynamics-popup__footer">
        
        <div class="dynamics-popup__actions">
            <button class="btn " id="pasteDynamicsButton">Вставить из буфера</button>
            <button class="btn" id="uploadFileDynamicsButton">Загрузить файл</button>
            <button class="btn " id="prepareTextDynamicsButton">Подготовить текст</button>
            <button class="btn" id="analyzeDynamicsButton">Анализировать</button>
        </div>
        <div>
            {{ progress_bar() }}
        </div>
        <div>
            <button class="btn" id="closeDynamicsPopup">Закрыть</button>
        </div>
    </div>
    <input type="file" id="dynamicFileUploadInput" accept=".jpg,.jpeg,.png,.pdf,image/*,application/pdf" style="display: none;">
</div>


<!-- Поле для вывода текста предыдущего протокола, если была оценка динамики -->
<div id="prevReportOverlay" class="prevReportOverlay">
    <button class="btn " id="closePrevReportButton" class="prevReportCloseButton">❌</button>
    <div class="prevReportTextContainer">
        <p class="prevReportTextTitle">Текст предыдущего протокола:</p>
        <pre id="prevReportText" class="prevReportText"></pre>
    </div>
</div>

{% endblock container %}
{% block scripts %}

<script class="no-reexec">
    // Передаем ключевые слова как глобальную переменную JavaScript
    const keyWordsGroups = {{ key_words_groups | tojson | safe }};
    const reportData = {{ report_data | tojson | safe }};
    const currentReportParagraphsData = {{ paragraphs_data | tojson | safe }};
</script>

<script type="module" src="{{ url_for('static', filename='js/working_with_report.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils/popup_sentences.js') }}"></script>
<script src="{{ url_for('static', filename='js/firstGrammaSentence.js') }}"></script>

{% endblock scripts %}
